<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    基础模版
    <nav>
        <a href="/">首页</a>
        <a href="/login">登录</a>
        <a href="/reg">注册</a>
    </nav>
    <%- body %>
</body>
</html>