

<form class="reg" method="post">
    <fieldset>
        <legend>用户注册</legend>
        <div>
            <label for="username">用户名</label>
            <input type="text" id="username" name="username" />
            <span>你的帐户名称，用于登录和显示</span>
        </div>
        <div>
            <label for="password">密　码</label>
            <input type="password" id="password" name="password" />
        </div>
        <div>
            <label for="password-repeat">确认密码</label>
            <input type="password" id="password-repeat" name="password-repeat" />
        </div>
        <div>
            <button type="submit">注册</button>
        </div>
    </fieldset>
</form>
