node/node-images/node_modules/*
node/crawler/node_modules/*
mock/node_modules/*

vue/vue1/node_modules
angular/framework

node/express/node_modules/
node/express/public/images/
node/promise/node_modules/