body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
body{font-size:12px;font-family:"Microsoft YaHei",Arial,"宋体",Helvetica,sans-serif;}
html {color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:''}
input{outline:none;}
a{text-decoration:none;}
.w990{width:990px;margin:0 auto;}

/*文字排版*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh200{line-height:200%;}
.unl{text-decoration:underline;}
.nounl{text-decoration:none;}

/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.clear{clear:both;height:0;line-height:0;font-size:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"\20";clear:both;height:0;}
.clearfix{*zoom:1;}
.zoom{zoom:1;}
.pr{position:relative;}
.pa{position:absolute;}
.absr{position:absolute;right:0;}
.pf{position:fixed;}
.hidden{visibility:hidden;}
.hide{display:none;}

/*长度高度*/
.w{width:100%;}
.h{width:100%;}
.wauto{width:auto;}
.hauto{height:auto;}
.w100{width:100px;}
.h100{height:100px;}

/*边距*/
.m10{margin:10px;}
.ml10{margin-left:10px;}
.mn{margin:0;}
.p10{padding:10px;}
.pn{padding:0;}

/*颜色*/
.red{color:red;}
.tc333{color:#333;}
.bc333{background:#333;}

/*css文字截取*/
.nowrap{white-space:nowrap;word-break:keep-all}
.wrap{white-space:normal;word-break:break-all}
.ellipsis{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;word-wrap:normal}

/*css精灵图片(修改图片是相关css文件中重置)*/
.sprites{background:url(png.png);}
.sprites_x{background:url(x.png) repeat-x;}

/*xy居中*/
.xycenter{display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;}




