@charset "UTF-8";
@import "comm/reset";
@import "comm/css3";
@import "comm/common";

html,body{
  height:100%;
}
html {
  font-size: $browser-default-font-size;
}
body{
  font-size:pxTorem(24px);
  background-color:$bg-color;
}

//基础部局
.wrap{
  overflow: hidden;
  @include display-flex();
  -webkit-box-orient:vertical;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  width:100%;
  height:100%;
}
article.main{
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  @include flex(1);
  width:100%;
}
.scrollHide{
  overflow:hidden;
}

//内容居中
.mw{
  width:pxTorem(640px);
  margin:0 auto;
  min-width:320px;
}
.hide{
  display: none !important;
}
.mt20{
  margin-top: pxTorem(20px) !important;
}
.mt25{
  margin-top: pxTorem(25px) !important;
}
.mt80{
  margin-top: pxTorem(80px) !important;
}
.mb10{
  margin-bottom: pxTorem(10px) !important;
}
.mb20{
  margin-bottom: pxTorem(20px) !important;
}
.mb30{
  margin-bottom: pxTorem(30px) !important;
}


//错误提示
.error{
  color:$red_c;
}
.clearfix{
  @extend %clearfix;
}

//头部|.header
@import "components/header";

//底部导航
@import "components/navapp";


//弹窗遮罩
#opacity{
  position:fixed;
  left:0;
  right:0;
  bottom: 0;
  top:0;
  background:#000;
  @include opacity(50);
  z-index:98;
}

//维护提示
#opacity2{
  z-index:98;
  position:fixed;
  left:0;
  right:0;
  bottom: 0;
  top:0;
  background: rgba(0,0,0,0.5);
  @extend %boxcen;
  color: #fff;
  ul{
    text-align:center;
    line-height:pxTorem(35px);
  }
}


//等待中|圆圈在行的中间
.loadmore {
  z-index:100;
  //line-height:50px;
  text-align:center;
  color:#ccc;
  font-size:14px;
  span {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
    border: 2px solid #003247;
    border-bottom-color: transparent;
    vertical-align: middle;
    @include animation(rotate 0.75s 0 linear infinite);
  }
}

//结算等待中|圆圈在屏幕中间
.waitingfor{
  background:rgba(0,0,0,.5);
  position:fixed;
  left:0;
  right:0;
  bottom: 0;
  top:0;
  @extend %boxcen;
}



//无商品显示
.noproduct{
  font-size: pxTorem(28px);
  text-align:center;
  padding:pxTorem(10px) 0;
}

//页面失踪404
.no404{
  display:-webkit-box;
  display:box;
  -webkit-box-pack:center;
  box-pack:center;
  -webkit-box-align:center;
  box-align:center;
  background:#fff;
  text-align:center;
  img{
    display: block;
    width:pxTorem(401px);
    height:pxTorem(409px);
  }
}


//上拉按钮
.slideTopBtn{
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  background:rgba(0,0,0,.5);
  z-index:65;
  .box{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background:$body_bg;
    @include animation(SlideBottomToTop .5s);
    ul{

    }
    li,a{
      @extend %f16;
      color:#333;
      height:pxTorem(48px * 2);
      line-height:pxTorem(48px * 2);
      text-align:center;
      display: block;
      background-color:#fff;
    }
    li{
      border-bottom: 1px solid #eee;
    }
    a.exit{
      margin-top:pxTorem(10px);
    }
  }
}

//动画keyframes
@import "components/keyframes";

//按钮|.btn|.btnRow
@import "components/btn";

//url连接
%url{
  color:#3366cc;
}

//图片
%img{
  width:100%;
  height:100%;
}
//让图片支持响应式布局
.img-responsive{
  max-width: 100%;
  height: auto;
  //display: block;
}
//ico图标
%ico_rem{
  background-size:contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

