@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//页面失踪404
.no404{
  @extend .display-flex;
  -webkit-box-pack:center;
  box-pack:center;
  -webkit-box-align:center;
  box-align:center;
  background:#fff;
  text-align:center;
  img{
    display: block;
    width:pxTorem(401px);
    height:pxTorem(409px);
  }
}