@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//半透明
.opacity{
  z-index:28;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,.4);
}

//关注成功提示
.mAlert{
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 100;
  span{
    display: block;
    padding:pxTorem(25px) pxTorem(50px);
    text-align:center;
    background:rgba(51,51,51,.8);
    font-size:pxTorem(28px);
    color:#fff;
    @include border-radius(pxTorem(8px));
  }
}

//结算弹窗确定取消
.myalert{
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  @extend %boxcen;
  //background: rgba(0,0,0,.3);
  @include border-radius(pxTorem(4px));
  z-index:30;
  .content{
    position: relative;
    z-index:29;
    background:#fff;
    width:pxTo750(560px);
    @include border-radius(pxTorem(4px));
  }
  .myalert-title{
    $h:80px;
    border-bottom: 1px solid #dddddd;
    background: $red_c;
    height:pxTorem(80px);
    h2{
      height:pxTorem(80px);
      line-height:pxTorem(80px);
      float: left;
      font-size:pxTorem(32px);
      padding-left:pxTorem(20px);
      color:#fff;
    }
    .exit{
      float: right;
      color:#fff;
      font-size:32px;
      background-image: url("../images/x2.png");
      width:pxTorem(30px + 37px * 2);
      height:pxTorem(80px);
      background-size:pxTorem(30px) pxTorem(30px);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  .myalert-box{
    padding:pxTorem(30px);
    p{
      color:#333333;
      font-size:pxTorem(32px);
      line-height:pxTorem(40px);
      margin-top:pxTorem(10px);
    }
    .cen{
      text-align:center;
    }
    .load{
      height: 20px;
      width: 20px;
      border-radius: 100%;
      display: inline-block;
      margin: 10px;
      border: 2px solid #003247;
      border-bottom-color: transparent;
      vertical-align: middle;
      @include animation(rotate 0.75s 0 linear infinite);
    }
  }
  .myalert-btn{
    @extend .display-flex;
    border-top:1px solid #dddddd;
    a{
      display: block;
      text-align: center;
      height:pxTorem(86px);
      line-height:pxTorem(86px);
      width:100%;
      @extend .flex;
      color:#333333;
      font-size:pxTorem(30px);
      &:nth-child(2){
        border-left:1px solid #dddddd;
        margin-left:0;
      }
    }
  }
}



//用户中心-修改性别弹窗
.alertUserSex{
  z-index:27;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  .box{
    background:#fff;
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    z-index:29;
  }
  h2{
    font-size:pxTorem(32px);
    margin-left:pxTorem(30px);
    height:pxTorem(50px);
    line-height:pxTorem(50px);
    padding-top:pxTorem(10px);
  }
  ul{
    li{
      height:pxTorem(80px);
      line-height:pxTorem(80px);
      margin:0 pxTorem(30px);
      font-size:pxTorem(28px);
      &:nth-child(1){
        border-bottom: 1px solid #cccccc;
      }
    }
  }
  .btn{
    margin:0;
    a{
      height:pxTorem(90px);
      line-height:pxTorem(90px);
      border-top: 1px solid #cccccc;
      color:#999999;
      font-size:pxTorem(28px);
    }
    text-align:center;
  }
}
