@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//半透明遮罩
.opacity{
  z-index:28;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,.4);
}

//关注成功提示
.mAlert{
  display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 100;
  span{
    display: block;
    padding:pxTorem(25px) pxTorem(50px);
    text-align:center;
    background:rgba(51,51,51,.8);
    font-size:pxTorem(28px);
    color:#fff;
    @include border-radius(pxTorem(8px));
  }
}

//结算弹窗确定取消
.myalert{
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  @extend %boxcen;
  //background: rgba(0,0,0,.3);
  @include border-radius(pxTorem(4px));
  z-index:30;
  .content{
    position: relative;
    z-index:29;
    background:#fff;
    width:pxTo750(560px);
    @include border-radius(pxTorem(4px));
  }
  .myalert-title{
    $h:80px;
    border-bottom: 1px solid #dddddd;
    background: $red_c;
    height:pxTorem(80px);
    h2{
      height:pxTorem(80px);
      line-height:pxTorem(80px);
      float: left;
      font-size:pxTorem(32px);
      padding-left:pxTorem(20px);
      color:#fff;
    }
    .exit{
      float: right;
      color:#fff;
      font-size:32px;
      background-image: url("../images/x2.png");
      width:pxTorem(30px + 37px * 2);
      height:pxTorem(80px);
      background-size:pxTorem(30px) pxTorem(30px);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  .myalert-box{
    padding:pxTorem(30px);
    p{
      color:#333333;
      font-size:pxTorem(32px);
      line-height:pxTorem(40px);
      margin-top:pxTorem(10px);
    }
    .cen{
      text-align:center;
    }
    .load{
      height: 20px;
      width: 20px;
      border-radius: 100%;
      display: inline-block;
      margin: 10px;
      border: 2px solid #003247;
      border-bottom-color: transparent;
      vertical-align: middle;
      @include animation(rotate 0.75s 0 linear infinite);
    }
  }
  .myalert-btn{
    @extend .display-flex;
    border-top:1px solid #dddddd;
    a{
      display: block;
      text-align: center;
      height:pxTorem(86px);
      line-height:pxTorem(86px);
      width:100%;
      @extend .flex;
      color:#333333;
      font-size:pxTorem(30px);
      &:nth-child(2){
        border-left:1px solid #dddddd;
        margin-left:0;
      }
    }
  }
}



//用户中心-修改性别弹窗
.alertUserSex{
  z-index:27;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  .box{
    background:#fff;
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    z-index:29;
  }
  h2{
    font-size:pxTorem(32px);
    margin-left:pxTorem(30px);
    height:pxTorem(50px);
    line-height:pxTorem(50px);
    padding-top:pxTorem(10px);
  }
  ul{
    li{
      height:pxTorem(80px);
      line-height:pxTorem(80px);
      margin:0 pxTorem(30px);
      font-size:pxTorem(28px);
      &:nth-child(1){
        border-bottom: 1px solid #cccccc;
      }
    }
  }
  .btn{
    margin:0;
    a{
      height:pxTorem(90px);
      line-height:pxTorem(90px);
      border-top: 1px solid #cccccc;
      color:#999999;
      font-size:pxTorem(28px);
    }
    text-align:center;
  }
}


//结算中心-付款输入密码弹窗
.alertPayInfo{
  z-index:27;
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  @extend %boxcen;
  .box{
    background:#fff;
    position: relative;
    width:80%;
    z-index:29;
  }
  .alertTitle{
    height:pxTorem(90px);
    line-height:pxTorem(90px);
    background: $blue-base;
    h2{
      color:#fff;
      padding:0 pxTorem(60px) 0 pxTorem(20px);
      font-size:pxTorem(32px);
    }
    .exit{
      width:pxTorem(40px);
      height:pxTorem(40px);
      border:pxTorem(1px) solid #fff;
      @include border-radius(50%);
      position: absolute;
      right:pxTorem(20px);
      top:pxTorem(24px);
      background-image: url("../images/iconDelete.png");
      @extend %ico_rem;
      background-size:50% 50% !important;
    }
  }
  .alertContent{
    padding:pxTorem(30px) pxTorem(20px);
    input[type='number']{
      height:pxTorem(85px);
      background:#e5e5e5;
      border:0;
      display:block;
      width:98%;
      padding-left:2%;
      font-size:pxTorem(32px);
      margin-top:pxTorem(15px);
    }
  }
  .payTotal{
    font-size:pxTorem(28px);
    text-align: right;
    margin-top:pxTorem(20px);
    &:nth-last-of-type(1){
      margin-bottom:pxTorem(30px);
    }
    b{
      font-weight: normal;
    }
  }
  //忘记密码
  .forget{
    display: block;
    text-align: right;
    color:$link-color;
    margin-top:pxTorem(25px);
  }
  //订单详情
  .orderList{
    color:#333;
    font-size:pxTorem(32px);
    border-bottom: 1px solid #cccccc;
    li{
      height:pxTorem(60px);
    }
    span{
      float:left;
    }
    b{
      float:right;
      font-weight:normal;
    }
  }
  //取消列表
  .exitList{
    margin:0 pxTorem(27px);
    li{
      border-bottom: 1px solid #cccccc;
      height:pxTorem(88px);
      line-height:pxTorem(88px);
      font-size:pxTorem(28px);
    }
  }
}

//待付款-取消原因
.alertExitList{
  .alertContent{
    padding:0;
  }
  //取消列表
  .exitList{
    margin:0 pxTorem(27px);
    li{
      border-bottom: 1px solid #cccccc;
      height:pxTorem(88px);
      line-height:pxTorem(88px);
      font-size:pxTorem(28px);
      //&.select{
      //  position: relative;
      //  &:after{
      //    content: "\20";
      //    width:pxTorem(24px - 2);
      //    height:pxTorem(24px - 2);
      //    border:pxTorem(2px) solid #999999;
      //    position: absolute;
      //    right:pxTorem(6px);
      //    top:pxTorem(32px);
      //    @include border-radius(50%);
      //  }
      //}
    }
  }
}

//银行转账弹窗
.giroAlert{
  .box{
    p{
      &:nth-child(1){
        margin-top:pxTorem(30px);
      }
    }
    h3,p{
      margin:0 pxTorem(20px) 0 pxTorem(20px);
      line-height: pxTorem(48px);
      font-size:pxTorem(28px);
    }
    h3{
      margin-top:pxTorem(35px);
    }
    label{
      display: inline-block;
      text-align:right;
      width:pxTorem(140px);
    }
  }
  .btn{
    margin:pxTorem(30px) 0 0 0;
    @extend .display-flex;
    a{
      @extend .flex;
      height:pxTorem(80px);
      line-height:pxTorem(80px);
      background: #e5e5e5;
      color:#333;
      &.select{
        background: $blue-base;
        color:#fff;
      }
    }
  }
}


//结算中心-退货信息弹窗
.return_alert{
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.6);
  z-index: 99;
  .red{
    color:$red_c;
  }
  .mw{
    background:#ffffff;
    width:100%;
    position: absolute;
    left:0;
    bottom:0;
  }
  .title{
    height:pxTorem(88px);
    position: relative;
    background:#e5e5e5;
    a,h2{
      line-height: pxTorem(88px);
    }
    h2{
      text-align: center;
    }
    .exit,.ok{
      position: absolute;
      top:0;
      font-weight: bold;
      color:#333333;
      padding:0 pxTorem(20px);
      font-size:pxTorem(28px);
    }
    .exit{
      left:0;
    }
    .ok{
      right:0;
    }
  }
  .box{
    padding-bottom: pxTorem(30px);
  }
  h3{
    margin-left: pxTorem(20px);
    margin-top: pxTorem(30px);
    i{
      margin-right:pxTorem(20px);
      width:pxTorem(36px);
      height:pxTorem(36px);
      background:#e5e5e5;
      display: inline-block;
      @include border-radius(50%);
      //      vertical-align: middle;
      position: relative;
      top:pxTorem(8px);
    }
    .select{
      background: $red_c;
    }
  }
  .con{
    margin-left:pxTorem(75px);
    margin-right:pxTorem(50px);
    p{
      margin-top:pxTorem(10px);
    }
    label,select,input.text{
      display: inline-block;
    }
    label{
      width:pxTorem(180px);
      height:pxTorem(50px);
      line-height:pxTorem(50px);
    }
    select,input.text{
      border:1px solid #333333;
    }
    select{
      width: pxTorem(141px);
      height: pxTorem(48px);
      background: #fff;
    }
    input.text{
      width:pxTorem(222px - 5px);
      height:pxTorem(48px);
      padding-left:pxTorem(5px);
    }
  }
  .xt{
    position: relative;
    overflow: hidden;
    label,select{
      @extend %fl;
    }
    .arrowB{
      width:pxTorem(21px);
      height:pxTorem(12px);
      background-image: url("../images/iconArrowB.png");
      @extend %ico_rem;
      position: absolute;
      left:pxTorem(292px);
      top:pxTorem(20px);
    }
  }
  //选择性别
  .sex{
    p{
      height:pxTorem(105px);
      line-height:pxTorem(105px);
      border-bottom: 1px solid #cccccc;
      font-size:pxTorem(28px);
      padding-left:pxTorem(20px);
    }
  }
  //取消订单
  .reason_tiile{
    font-size:pxTorem(28px);
    padding-top:pxTorem(10px);
    display: block;
  }
  .reason_tiile,.reason_info{
    margin-left:pxTorem(20px);
  }
  .exit_ororder{
    position: relative;
    margin-left:pxTorem(20px);
    margin-right:pxTorem(20px);
    margin-top:pxTorem(20px);
    margin-bottom:pxTorem(20px);
    span{
      background:#fff;
      border:1px solid #333;
      padding-left:pxTorem(5px);
      height:pxTorem(72px);
      line-height:pxTorem(72px);
      display: block;
      color:#333333;
      font-size:pxTorem(28px);
    }
    .c333{
      color:#333333;
    }
    i.arrowB{
      position: absolute;
      right:pxTorem(20px);
      top:pxTorem(27px);;
      width:pxTorem(30px);
      height:pxTorem(18px);
      background-image: url("../images/iconArrowB.png");
      @extend %ico_rem;
    }
    ul{
      border:1px solid #d1d0d0;
      border-top:0;
      border-bottom:0;
    }
    li{
      height:pxTorem(70px);
      border-bottom:1px solid #d1d0d0;
      b{
        line-height:pxTorem(70px);
        padding-left:pxTorem(5px);
        @extend %fl;
        font-weight: normal;
      }
      i{
        @extend %fr;
        width:pxTorem(36px);
        height:pxTorem(36px);
        background: #e5e5e5;
        margin:pxTorem(18px) pxTorem(18px) 0 0;
        @include border-radius(50%);
      }
      .select{
        background:$red_c;
      }
    }
    .red{
      padding:pxTorem(30px) 0;
    }
    span{

    }
  }
  //退货（我自己送）
  .oneself_return{
    display: -webkit-box;
    display: box;
    .exit_ororder{
      margin:0;
      width:pxTorem(300px);
      //      -webkit-box-flex:1;
      //      box-flex:1;
    }
    b{
      font-weight: normal;
      display: block;
      height:pxTorem(37px);
      line-height:pxTorem(37px);
    }
    span{
      height:pxTorem(35px);
      line-height:pxTorem(35px);
    }
    i.arrowB{
      top:pxTorem(10px);
    }
  }
  //取消退货
  .exit_return{
    h2,a{
      background: #fff;
      text-align: center;
      color:#333333;
    }
    h2{
      height:pxTorem(102px);
      line-height:pxTorem(102px);
      border-bottom: pxTorem(4px) solid $red_c;
      color:$red_c;
      font-size:pxTorem(28px);
    }
    a{
      display: block;
      height:pxTorem(66px);
      line-height:pxTorem(66px);
      border-bottom: 1px solid #999999;
    }
    a:last-child{
      border-top:1px solid #999999;
      margin-top:pxTorem(20px);
    }
  }
}


//订单列表-支付按钮弹窗
.orderPayBth{
  .box{
    z-index:29;
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background: #fff;
  }
  .orderList{
    color:#333;
    font-size:pxTorem(32px);
    border-bottom: 1px solid #ccc;
    padding-top:pxTorem(25px);
    li{
      height:pxTorem(60px);
      margin: 0 pxTorem(30px);
    }
    span{
      float:left;
      color:#999999;
    }
    b{
      float:right;
      font-weight:normal;
    }
  }
  //.btn{
  //  border:1px solid #ccc;
  //}
  .orderPayList{
    li{
      border-bottom: 1px solid #cccccc;
      font-size:pxTorem(32px);
      margin:0 pxTorem(30px);
      &:last-child{
        border:0;
      }
    }
    a{
      display: block;
      position: relative;
      height:pxTorem(118px);
      //line-height:pxTorem(118px);
      color:#333;
      padding-left:pxTorem(54px);
      &.balance,&.wx,&.bank,&.giro{
        &:before {
          content: "\20";
          position: absolute;
          left: 0;
          top: pxTorem(30px);
          width: pxTorem(44px);
          height: pxTorem(35px);
          @extend %ico_rem;
        }
      }
      //余额支付
      &.balance{
        height:pxTorem(99px - 10);
        padding-top:pxTorem(10px);
        &:before{
          background-image: url("../images/iconbalance.png");
        }
      }
      &.select{
        color:#999999;
        &:before{
          background-image: url("../images/iconbalanceC.png");
        }
      }
      //微信
      &.wx{
        line-height:pxTorem(118px);
        &:before{
          top: pxTorem(38px);
          background-image: url("../images/iconWeiXin.png");
        }
      }
      //在线支付
      &.bank{
        line-height:pxTorem(118px);
        &:before {
          top: pxTorem(38px);
          background-image: url("../images/iconBank.png");
        }
      }
      //转帐
      &.giro{
        height:pxTorem(99px - 10);
        padding-top:pxTorem(10px);
        &:before{
          background-image: url("../images/icongiro.png");
        }
      }
    }
    em{
      display: block;
      font-style: normal;
      font-size:pxTorem(20px);
    }
  }
}