@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";



//左侧标题
.lBorTitle{
  border-left: pxTorem(7px) solid $blue-base;
  padding-left: pxTorem(10px);
  font-size: pxTorem(28px);
  letter-spacing: pxTorem(15px);
}
//鉴赏详情
.collectDetail{
  margin: 0 pxTorem(30px);
  padding-top: pxTorem(50px);
  .mainTitle{
    height: pxTorem(80px);
    border-left: pxTorem(20px) solid $blue-base;
    padding-left: pxTorem(10px);
    b{
      @extend %block;
      font-size: pxTorem(32px);
    }
    span{
      font-size: pxTorem(28px);
      color: $color-999;
    }
  }
  .collectTitle{
    @extend %tc;
    margin-bottom:pxTorem(25px);
    &:before,&:after{
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: pxTorem(20px) solid $blue-base;
      border-right: pxTorem(20px) solid transparent;
      border-left: pxTorem(20px) solid transparent;
      vertical-align: bottom;
    }
    &:before{
      transform: rotate(135deg);
    }
    &:after{
      transform: rotate(-135deg);
    }
  }
  .thumbnail{
    margin-top: pxTorem(18px);
    padding-bottom: pxTorem(30px);
    .img{
      text-align:center;
      img{
        @extend .img-auto;
      }
    }
    p{
      text-indent: 0;
      margin: 0;
    }
  }
  .btn{
    @extend %block;
    width: pxTorem(240px);
    height: pxTorem(76px);
    line-height: pxTorem(76px);
    @extend %tc;
    margin: pxTorem(40px) auto pxTorem(20px) auto;
    border: 1px solid $blue-base;
    letter-spacing: pxTorem(5px);
    font-size: pxTorem(23px);
    color: $blue-base;
  }
}
//鉴赏列表
.collectList{
  .tab{
    @extend .display-flex;
    $height:pxTorem(88px);
    box-sizing: border-box;
    width: 100%;
    height: $height;
    border-bottom: 1px solid $color-ccc;
    li{
      @extend .flex;
      @extend %tc;
      &.select{
        a{
          border-bottom: pxTorem(4px) solid $blue-base;
        }
      }
    }
    a{
      display: inline-block;
      color: $color-333;
      font-size: pxTorem(28px);
      height: $height - pxTorem(4px);
      line-height: $height - pxTorem(4px);
      &:hover{
        border-bottom: pxTorem(4px) solid $blue-base;
      }
    }
  }
  .img{
    text-align:center;
    img{
      @extend .img-auto;
    }
  }
  .collectItem{
    margin-left: pxTorem(30px);
    margin-right: pxTorem(30px);
  }
  .collectTip{
    top:pxTorem(88px);
    right:0;
  }
}
//鉴赏手册,右上角标签日期
.collectTip{
  position: absolute;
  top: 1px;
  right: pxTorem(30px);
  width: pxTorem(120px);
  height: pxTorem(120px);
  box-sizing: border-box;
  padding: pxTorem(10px) pxTorem(10px);
  background-color: $color-333;
  color: #fff;
  b{
    font-size: pxTorem(28px);
  }
  span{
    font-size: pxTorem(24px);
  }
}
//鉴赏列表
.collectItem{
  @include display-flex();
  margin-top: pxTorem(20px);
  padding-bottom: pxTorem(20px);
  border-bottom: 1px solid #e0e0e0;
  img{
    @extend %block;
    width: pxTorem(150px);
    height: pxTorem(150px);
    margin-right: pxTorem(18px);
  }
  .collectDetailItem{
    position: relative;
    @include display-flex();
    flex-direction: column;
    @include flex(1);
    h4{
      font-size: pxTorem(32px);
      margin-bottom: pxTorem(8px);
    }
    h5{
      font-size: pxTorem(28px);
      color: $color-999;
    }
    h6{
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: pxTorem(24px);
      color: $color-999;
    }
  }
}

