@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//品类
.categoryChoice{
  //background:#fff;
  @extend .display-flex;
  .categoryTab{
    width:pxTorem(200px);
    height:100%;
    border-left:pxTorem(2px) solid #e5e5e5;
    a{
      display: block;
      width:100%;
      text-align:center;
      height:pxTorem(120px);
      line-height:pxTorem(120px);
      color:#333333;
      font-size:pxTorem(32px);
      border-bottom: 1px solid #e5e5e5;
      &.select{
        color:$blue-base;
      }
    }
  }
  .categoryCon{
    background:#e5e5e5;
    @extend .flex;
    @import "categoryTypeComm";
    min-height:pxTorem(1120px);
  }
}



//筛选条件|整合
.goodsFilterIf{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:48;
  //透明遮罩
  .opacityT{
    @extend .opacity;
    position: absolute !important;
    z-index: 49 !important;
  }
  //排序下拉信息
  .sort_list{
    @extend .wrap;
    position: relative;
    z-index:50;
    font-size:pxTo750(24px);
    background: #fff;
    a{
      color:#333333;
      display: inline-block;
    }
  }
  //排序状态
  .hot{
    //height:100%;
    li{
      margin-left:pxTo750(30px);
      margin-right:pxTo750(30px);
      border-bottom: 1px solid #e5e5e5;
    }
    a{
      height:pxTo750(76px);
      line-height:pxTo750(76px);
      width:100%;
      font-size: pxTo750(24px);
      position: relative;
      &.select{
        color:$blue-base;
        border:0;
        font-weight: bold;
        .up{
          border-color:transparent transparent $blue-base transparent;
        }
        .down{
          border-color:$blue-base transparent transparent transparent;
        }
      }
    }
    i{
      font-style: normal;
      position: absolute;
      left:pxTo750(60px);
      &.up{
        @include arrow(top,pxTo750(10px),#333333);
        top:pxTo750(26px);
      }
      &.down{
        @include arrow(bottom,pxTo750(10px),#333333);
        top:pxTo750(36px);
      }
    }
  }
  //横版价格升降
  .rowPrice{
    padding:pxTorem(20px) 0 pxTorem(10px);
    border-bottom: 1px solid #e5e5e5;
    @extend .display-flex;
    a{
      @extend .flex;
      display: block;
      position: relative;
      &.select{
        color:$blue-base;
        border:0;
        font-weight: bold;
        .up{
          border-color:transparent transparent $blue-base transparent;
        }
        .down{
          border-color:$blue-base transparent transparent transparent;
        }
      }
    }
    i{
      font-style: normal;
      position: absolute;
      left:pxTo750(60px);
      &.up{
        @include arrow(top,pxTo750(10px),#333333);
        top:pxTo750(0px);
      }
      &.down{
        @include arrow(bottom,pxTo750(10px),#333333);
        top:pxTo750(10px);
      }
    }
  }
  //价格
  .price{
    position: relative;
    height:pxTo750(60px - 20);
    padding-top: pxTo750(20px + 100px);
    padding-bottom: pxTo750(30px);
    margin:0 pxTo750(30px) 0 pxTo750(30px);
    border-bottom: 1px solid #d2d2d2;
    .box{
      height:pxTo750(18px);
      border: 1px solid #d2d2d2;
      margin-right:pxTo750(10px);
      position: relative;
    }
    span{
      position: absolute;
    }
    .low,.high{
      top:pxTo750(100px - 40);
      color:#333;
    }
    .low{
      left:0;
    }
    .high{
      right:0;
    }
    .left,.right{
      width:pxTo750(20px);
      height:pxTo750(60px);
      margin-top:pxTo750(-30px);
      background:$blue-base;
      top:50%;
    }
    .left{
      left:0;
    }
    .right{
      left:100%;
    }
    input[type='range']{
      width:100%;
      display: block;
    }
  }
  //筛选
  .filter{
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    @extend .flex;
    width:100%;
    h2{
      padding-top:pxTo750(20px);
      margin:0 0 pxTo750(20px) 0;
      color:#666666;
      font-size:pxTo750(24px);
    }
    .box{
      margin:0 pxTo750(30px) 0 ;
      padding-bottom:pxTo750(30px);
    }
  }
  //品类筛选列表
  .category_list{
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: pxTorem(15px);
    @extend %clearfix;
    a{
      float:left;
      width:33%;
      font-size:pxTo750(24px);
      height:pxTo750(60px);
      line-height:pxTo750(60px);
      display: inline-block;
      color:#333;
      &:hover,&.select{
        color:$blue-base;
      }
    }
  }
  .btn{
    $h:76px;
    height:pxTo750($h);
    @extend .display-flex;
    padding-bottom: pxTorem(10px);
    a{
      text-align: center;
      @extend .flex;
      display: block;
      width:100%;
      font-size:pxTo750(28px);
      height:pxTo750($h);
      line-height:pxTo750($h);
      background:$blue-base;
      color:#fff;
      &:nth-child(2){
        margin-left:pxTorem(10px);
      }
    }
  }
  //没有寿山石与珠宝的切换按钮
  .notTabBtn{
    top:pxTo750(166px);
  }
}