@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";


//图录
.catalogue{
  li{
    position: relative;
    height:pxTorem(404px);
    img{
      @extend .img-auto;
      vertical-align: top !important;
    }
    &.top{
      height:pxTorem(95px);
    }
    &.bottom{
      height:pxTorem(29px);
    }
    .box{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      @extend .display-flex;
    }
    a{
      display: block;
      @extend .flex;
    }
  }
}

//列表
.catalogueList{
  li{
    strong.price{
      font-size:pxTorem(28px);
      span{
        font-size:pxTorem(24px);
        color:#333;
      }
    }
  }
}


//拍品价格
.catalogueTitle{
  h3.price{
    font-size:pxTorem(24px);
    color:#666;
  }
  strong{
    font-size:pxTorem(32px);
    color:$red-base;
  }
  //状态
  .state{
    position: absolute;
    right:pxTorem(30px);
    bottom: pxTorem(20px);
    b{
      color:$red-base;
      font-weight:normal;
    }
  }
}

//拍品信息
.catalogueInfo{
  ul{
    li{
      width: auto;
      float: none;
    }
  }
}

//按钮
div.catalogueBtn{
  border-top:1px solid #999999;
  padding:pxTorem(10px) pxTorem(30px);
  margin:0;
  @extend .display-flex;
  background: #fff;
  a{
    @extend .flex;
    color:#fff;
    background:#999999;
    &.select{
      background: $blue-base;
    }
    &:nth-child(2){
      margin-left:pxTorem(10px);
    }
  }
}

