@charset "UTF-8";

//品类类型列表
h2{
  margin:0 0 0 pxTo750(30px);
  &:nth-of-type(1){
    margin-top: pxTo750(30px);;
  }
  a{
    color:#333333;
    font-size:pxTo750(32px);
    display: block;
  }
}
.list{
  margin-left:pxTo750(30px);
  padding-top:pxTo750(30px);
  @extend %clearfix;
  a{
    float:left;
    font-size:14px;
    height:pxTo750(60px);
    line-height:pxTo750(60px);
    padding:0 pxTo750(20px);
    margin-right:pxTo750(30px);
    margin-bottom:pxTo750(40px);
    display: inline-block;
    background: #fff;
    color:#333;
    &:hover,&.select{
      background: $blue-base;
      color:#fff;
    }
  }
}



