@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//品类
.categoryChoice{
  //background:#fff;
  @extend .display-flex;
  .categoryTab{
    width:pxTorem(200px);
    height:100%;
    border-left:pxTorem(2px) solid #e5e5e5;
    a{
      display: block;
      width:100%;
      text-align:center;
      height:pxTorem(120px);
      line-height:pxTorem(120px);
      color:#333333;
      font-size:pxTorem(32px);
      border-bottom: 1px solid #e5e5e5;
      &.select{
        color:$blue-base;
      }
    }
  }
  .categoryCon{
    background:#e5e5e5;
    @extend .flex;
    @import "categoryTypeComm";
  }
}



