@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

/**************************************************************/

//商品列表
//不放li里right|3|5|7
//放li里right|2|4|6
%goodsList{
  @extend %clearfix;
  //列
  li.col{
    width:50%;
    float:left;
    margin-bottom:pxTorem(20px);
    h3,strong{
      font-size:pxTorem(24px);
    }
    h3{
      margin:pxTorem(10px) pxTorem(20px) 0 pxTorem(20px);
      line-height:pxTorem(28px);
      height:pxTorem(28px * 2);
      overflow: hidden;
    }
    strong{
      display: block;
      color:$red-base;
      font-weight:bold;
      font-size:pxTorem(28px);
      margin-left:pxTorem(16px);
      height:pxTorem(50px);
      line-height:pxTorem(50px);
    }
    //预览、已下架等
    span{
      position: absolute;
      right:pxTorem(13px);
      bottom:pxTorem(8px);
      padding:0 pxTorem(10px);
      height:pxTorem(40px);
      text-align:center;
      line-height:pxTorem(40px);
      color:#fff !important;
      background:#666666;
      font-size:pxTorem(24px);
      @include border-radius(4px);
    }
    //即将开售红底白字
    .red{
      background:$red-base;
    }
  }
  .box{
    position: relative;
    background:#fff;
    margin-right:pxTorem(10px);
  }
  //购物车
  .buy{
    position: absolute;
    bottom:pxTorem(5px);
    right:pxTorem(5px);
    width:pxTorem(70px);
    height:pxTorem(70px);
    background-image: url("../images/iconBuy.png");
    @extend %ico_rem;
    background-size: pxTorem(44px) pxTorem(56px);
  }
  //马上开抢按钮
  .btnGo{
    position: absolute;
    bottom:pxTorem(10px);
    right:pxTorem(10px);
    //display: inline-block;
    padding:0 pxTorem(20px);
    height:pxTorem(54px);
    line-height:pxTorem(54px);
    border:1px solid $red-base;
    color:$red-base;
    font-size:pxTorem(26px);
  }
  .img{
    display: block;
    width:100%;
    position: relative;
    img{
      @extend .img-auto;
    }
    //图标
    i.out,i.booked{
      @extend %ico_rem;
      position: absolute;
      bottom:pxTorem(4px);
      a{
        display: block;
        width:100%;
        height:100%;
      }
    }
    //已售图标
    i.out{
      background-image:url("../images/iconOut.png");
      width:pxTorem(141px);
      height:pxTorem(126px);
      right:pxTorem(5px);
    }
    //已预定图图标
    i.booked{
      background-image:url("../images/iconBooked.png");
      width:pxTorem(156px);
      height:pxTorem(140px);
      right:pxTorem(5px);
    }
  }
  .love{
    position: absolute;
    right:0;
    top:0;
    text-align:center;
    padding:pxTorem(15px) pxTorem(15px);
    color:#fff;
    font-size:pxTorem(24px);
    &:before{
      content: "\20";
      width:pxTorem(32px);
      height:pxTorem(26px);
      background-image:url("../images/iconLove.png");
      @extend %ico_rem;
      display:block;
      margin:0 auto;
    }
    &.select{
      &:before{
        background-image:url("../images/iconLoveS.png");
      }
    }
  }
}

//横版热度标签
.goodsRowHotTab{
  margin: pxTorem(20px) 0 0 pxTorem(30px);
  a{
    display: inline-block;
    height:pxTorem(50px);
    line-height:pxTorem(50px);
    padding:0 pxTorem(15px);
    margin: 0 pxTorem(20px) pxTorem(20px) 0;
    background:#fff;
    color:#333;
    &.select{
      background:$blue-base;
      color:#fff;
    }
  }
}

//行row
.goodsListRow{
  //列row
  li.row,li.follow{
    background: #fff;
    margin-top: pxTorem(20px);
    height:pxTorem(280px - 20);
    padding-top:pxTorem(20px);
    .box{
      margin:0 pxTorem(30px);
      position: relative;
      @extend .display-flex;
    }
    //一样
    .img{
      display: block;
      width:pxTorem(240px);   //修改大小
      height:pxTorem(240px);  //
      position: relative;
      img{
        @extend .img-auto;
      }
      //图标
      i.out,i.booked{
        @extend %ico_rem;
        position: absolute;
        bottom:pxTorem(4px);
        a{
          display: block;
          width:100%;
          height:100%;
        }
      }
      //已售图标
      i.out{
        background-image:url("../images/iconOut.png");
        width:pxTorem(141px);
        height:pxTorem(126px);
        right:pxTorem(5px);
      }
      //已预定图图标
      i.booked{
        background-image:url("../images/iconBooked.png");
        width:pxTorem(156px);
        height:pxTorem(140px);
        right:pxTorem(5px);
      }
    }
    //购物车已售|购物车已下架|购物车交易中
    .sl,.us,.uq{
      &:before,&:after{
        position: absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
      }
      &:before{
        content: "\20";
        background: rgba(153,153,153,.8);
      }
      &:after{
        content: "正在交易中";
        color:#eee;
        text-align:center;
        font-size:pxTorem(28px);
        line-height:pxTorem(240px);
      }
    }
    //购物车已售
    .sl{
      &:after{
        content: "已售";
      }
    }
    //购物车已下架
    .us{
      &:after{
        content: "已下架";
      }
    }
    //购物车交易中
    .uq{
      &:after{
        content: "正在交易中";
      }
    }
    .info{
      @extend .flex;
      position: relative;
      h3{
        color:#333333;
        font-size:pxTorem(32px);
        padding-right:pxTorem(40px);
      }
    }
    h3{
      margin-left:pxTorem(55px);
      font-size:pxTorem(32px);
      color:#333;
      margin-top:pxTorem(20px);
      &:nth-of-type(2){
        margin-top:pxTorem(10px);
      }
    }
    //尺寸
    .size{
      margin-left:pxTorem(55px);
      display: block;
      margin-top:pxTorem(20px);
    }
    //原价
    .costPrice{
      text-decoration:line-through;
      margin-top:pxTorem(20px);
      margin-left:pxTorem(55px);
      display: block;
      color:#666;
      font-size:pxTorem(24px);
    }
    //数量
    .num{
      position: absolute;
      right:0;
      bottom:pxTorem(10px);
      font-size:pxTorem(32px);
    }
    //价格
    strong{
      margin-left:pxTorem(55px);
      display: block;
      font-size:pxTorem(32px);
      color:$red-base;
      margin-top:pxTorem(20px);
      //font-weight:bold;
    }
    //购物车藏品选中
    i.shoppingSelect{
      display: block;
      font-style: normal;
      padding-left:pxTorem(30px);
      //padding-right:pxTorem(25px);
      width:pxTorem(36px);
      font-size:pxTorem(28px);
      &.select{
        &:after{
          background-color: $red-base;
          width:pxTorem(36px);
          height:pxTorem(36px);
          border:0;
          background-image: url("../images/iconHook.png");
          @extend %ico_rem;
          background-size:50% 50% !important;
        }
      }
      &:after{
        position: absolute;
        left:pxTorem(30px);
        top:40%;
        content: "\20";
        display: inline-block;
        width:pxTorem(36px - 4);
        height:pxTorem(36px - 4);
        border:pxTorem(2px) solid #333;
        @include border-radius(50%);
        //margin-right:pxTorem(10px);
      }
    }
    //购物车删除按钮
    .garbage{
      position: absolute;
      right:pxTorem(10px);
      bottom:pxTorem(10px);
      background-image: url("../images/iconGarbage.png");
      @extend %ico_rem;
      width:pxTorem(37px);
      height:pxTorem(36px);
    }
    //购物车添加与减藏品
    .shoppingRA{
      $h:30px;
      position: absolute;
      left:pxTorem(60px);
      bottom:0;
      height: pxTorem($h);
      i,input[type='number']{
        display: inline-block;
        vertical-align: middle;
        float:left;
        text-align:center;
      }
      i{
        width: pxTorem($h);
        height: pxTorem($h);
        background: #e4e4e4;
        color:#999999;
        font-style: normal;
      }
      input[type='number']{
        width:pxTorem(40px);
        height: pxTorem($h);
        border:0;
        @extend %numberArrow;
      }
    }
    //马上开抢按钮
    .btnGo{
      position: absolute;
      bottom:pxTorem(10px);
      right:pxTorem(10px);
      //display: inline-block;
      padding:0 pxTorem(20px);
      height:pxTorem(54px);
      line-height:pxTorem(54px);
      border:1px solid $red-base;
      color:$red-base;
      font-size:pxTorem(26px);
    }
    .love{
      position: absolute;
      right:0;
      top:0;
      text-align:center;
      padding:pxTorem(15px) pxTorem(15px);
      color:#999;   //修改
      font-size:pxTorem(24px);
      &:before{
        content: "\20";
        width:pxTorem(32px);
        height:pxTorem(26px);
        background-image:url("../images/iconLove.png");
        @extend %ico_rem;
        display:block;
        margin:0 auto;
      }
      &.select{
        &:before{
          background-image:url("../images/iconLoveS.png");
        }
      }
    }
    //灰色
    .loveC{
      position: absolute;
      right:0;
      top:0;
      text-align:center;
      padding:pxTorem(15px) pxTorem(15px);
      color:#999;
      font-size:pxTorem(24px);
      &:before{
        content: "\20";
        width:pxTorem(32px);
        height:pxTorem(26px);
        background-image:url("../images/iconLoveC.png");
        @extend %ico_rem;
        display:block;
        margin:0 auto;
      }
      &.select{
        &:before{
          background-image:url("../images/iconLoveS.png");
        }
      }
    }
  }
  //用户中心-我的关注
  li.follow{
    margin: 0 pxTorem(30px);
    border-bottom: 1px solid #cccccc;
    .box{
      margin:0;
    }
    .info{
      position: static;
      h3{
        margin-top:0;
      }
    }
    strong{
      margin:0;
      position: absolute;
      left:pxTorem(290px);
      bottom:0;
    }
    .size{
      color:#999;
      font-size:pxTorem(28px);
    }
    .love,.loveC{
      left:0;
      top:0;
      right:auto;
    }
  }
}

//列col
.goodsListCol{

}

//正常
.goodsListNormal{
  @extend %goodsList;
}

//不规则
.goodsListNorule{
  @extend %goodsList;
  li{
    &:nth-child(1){
      width:50%;
      float:left;
      margin-bottom:pxTorem(20px);
    }
  }
  //分类商品开售倒记时
  li.goodsEndTime{
    text-align:center;
    color:#666666;
    .box{
      padding-top:pxTorem(30px);
      padding-bottom:pxTorem(40px);
      margin-right:pxTorem(10px);
      border-bottom: 1px dashed #999999;
      background: none;
    }
    h3{
      font-size:pxTorem(28px);
    }
    .timeCount{
      font-size:pxTorem(24px);
      margin-top:pxTorem(5px);
    }
    b{
      font-weight: normal;
      margin-right:pxTorem(16px);
    }
  }
  //hot分类
  li.goodsHotTab{
    .box{
      margin-right:pxTorem(10px);
      border-bottom: 1px dashed #999999;
      background: none;
    }
    a{
      background:#fff;
      color:#333;
      display: inline-block;
      padding:0 pxTorem(20px);
      height:pxTorem(50px);
      line-height:pxTorem(50px);
      margin:0 pxTorem(20px) pxTorem(20px) 0;
      &.select{
        background:$blue-base;
        color:#fff;
      }
    }
  }
  //类型|材质、形式
  .goodsType{
    .box{
      text-align:center;
      height:pxTorem(140px);
      line-height:pxTorem(140px);
      border:1px solid #666666;
      margin-right:pxTorem(10px);
      background: none;
      color:#666666;
      font-size:pxTorem(42px);
      position: relative;
      z-index:1;
      &:before,&:after{
        content: "\20";
        position: absolute;
        background:#e5e5e5;
        z-index:-1;
      }
      &:before{
        width:80%;
        height:pxTorem(144px);
        left:pxTorem(36px);
        top:-1px;
      }
      &:after{
        width:102%;
        height:50%;
        left:-1px;
        top:pxTorem(36px);
      }
    }
  }
  li.col{
    &:nth-child(2n+2){
      float:right;
    }
    &:nth-child(even){
      .box{
        margin-left:pxTorem(10px);
        margin-right:0;
      }
    }
  }
}


/**************************************************************/


//进行时间tab
.goodsGoDay{
  height:pxTorem(90px);
  @extend .display-flex;
  section{
    @extend .flex;
    background:#f7f7f7;
    color:#333;
    font-size:pxTorem(24px);
    text-align:center;
    padding-top:pxTorem(14px);
    &.select{
      background: $blue-base;
      color:#fff;
    }
  }
}



//图片广告
.goodsAd{
  img{
    @extend .img-auto;
  }
}

//检索
.goodsRtrieval{
  $h:89px;
  height:pxTorem($h);
  width:100%;
  background:#fff;
  border-bottom: 1px solid #999999;
  @extend .display-flex;
  a{
    text-align:center;
    @extend .flex;
    line-height:pxTorem($h);
    width:100%;
    display: block;
    font-size:pxTorem(28px);
    color:#333333;
    position: relative;
    &.select{
      color:$blue-base;
    }
    &:after{
      content: "\20";
      position: absolute;
      right:0;
      top:pxTorem(24px);
      width:1px;
      height:pxTorem(42px);
      background:#999999;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}

//当天商品开售倒记时
.goodsDayEndTime{
  text-align:center;
  padding-top:pxTorem(20px);
  h3{
    color:#333333;
    font-size:pxTorem(14px);
  }
  .timeCount{
    font-size:pxTorem(28px);
    color:$red-base;
  }
}


/////////////////////////////////////////////////////////

//列表区
.goodsListBox{
  //position: relative;
  margin:pxTorem(20px) pxTorem(20px) 0;
}



//筛选
.goodsFilter{
  $h:80px;
  @extend .display-flex;
  background: #f7f7f7;
  //padding:pxTorem(10px) 0;
  height:pxTorem($h);
  .sort{
    padding-left:pxTorem(75px);
    width:pxTorem(153px - 75);
    color:#333333;
    font-size:pxTorem(24px);
    line-height:pxTorem($h);
    position: relative;
    .iconFilter,&:after,.arrow{
      position: absolute;
    }
    .iconFilter{
      background-image: url("../images/iconFilter.png");
      @extend %ico_rem;
      width:pxTorem(38px);
      height:pxTorem(38px);
      left:pxTorem(30px);
      top:pxTorem(22px);
    }
    &:after{
      content: "\20";
      right: 0;
      top:pxTorem(10px);
      width:1px;
      height:pxTorem($h - 20);
      background:#999;
    }
    .arrow{
      content: "\20";
      @include arrow(top,pxTorem(12px),#fff);
      left:pxTorem(36px);
      bottom: 0;
    }
  }
  .box{
    @extend .flex;
    @extend .display-flex;
    a{
      @extend .flex;
      display: block;
      line-height:pxTorem($h - 4px);
      text-align:center;
      color:#333333;
      font-size:pxTorem(32px);
      &.select{
        color:$blue-base;
        border-bottom: pxTorem(4px) solid $blue-base;
      }
    }
  }
}

//开售倒记时
.rowGoodsEndTime{
  height:pxTorem(90px - 28);
  padding-top:pxTorem(28px);
  color:#333333;
  .timeCount{
    font-size:pxTorem(24px);
    margin-top:pxTorem(5px);
    border-left:pxTorem(4px) solid $blue-base;
    padding-left:pxTorem(15px);
    margin-left:pxTorem(30px);
  }
  b{
    font-weight: normal;
    margin-right:pxTorem(10px);
  }
  strong{
    margin-right:pxTorem(10px);
  }
}