@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//头部
.header{
  $h:87px;
  $topH:40px;
  height:pxTo750($h);
  background:#fff;
  border-bottom: 1px solid #e5e5e5;
  padding-top:pxTo750($topH);
  @extend .display-flex;
  h2{
    line-height:pxTo750($h);
    font-size:pxTo750(36px);
    text-align:center;
    color:#333333;
    @extend .flex;
  }
  a{
    position: relative;
    height:pxTo750($h);
    display: inline-block;
  }
  //左边
  .left{

  }
  //右边
  .right{

  }
  //icon图标
  .return,.iconSearch,.iconShare{
    &:after{
      content: "\20";
      display: block;
      margin-top:pxTo750(26px);
      @extend %ico_rem;
    }
  }
  //返回
  .return{
    padding:0 pxTo750(30px);
    width:pxTo750(22px);
    &:after{
      width:pxTo750(22px);
      height:pxTo750(42px);
      background-image: url("../images/iconArrowLT.png");     /*base64:skip*/
    }
  }
  //搜索
  .iconSearch{
    padding:0 pxTo750(30px);
    width:pxTo750(40px);
    &:after{
      width:pxTo750(40px);
      height:pxTo750(40px);
      background-image: url("../images/iconSearchT.png");
    }
  }
  //分享
  .iconShare{
    padding:0 0 0 pxTo750(30px);
    width:pxTo750(40px);
    &:after{
      width:pxTo750(40px);
      height:pxTo750(40px);
      background-image: url("../images/iconShareT.png");
    }
  }
  //取消文字
  .exit{
    padding:0 pxTo750(30px) 0 pxTo750(15px);
    color:#666666;
    font-size:pxTo750(26px);
    line-height: pxTo750($h);
  }
  //搜索栏
  .inputSearch{
    $h:58px;
    margin-left:pxTo750(30px);
    @extend .flex;
    background:#ffffff;
    height:pxTo750($h);
    line-height:pxTo750($h);
    margin-top:pxTo750(16px);
    @include border-radius(3px);
    position: relative;
    &:before{
      position: absolute;
      left:pxTo750(12px);
      top:pxTo750(12px);
      content: "\20";
      display: block;
      width:pxTo750(40px);
      height:pxTo750(36px);
      background-image: url("../images/iconSearchC.png");
      @extend %ico_rem;
    }
    input[type='text']{
      display: block;
      border:0;
      height:pxTo750($h);
      line-height:pxTo750($h);
      text-indent: pxTo750(65px);
      font-size:pxTo750(26px);
      color:#999999;
    }
  }
  //.edit{
  //
  //}
  //.save{
  //  @extend %t333;
  //}
}

//顶部搜索
.topSearch{
  background:#e5e5e5;
  border-bottom: 1px solid #999999;
  .return{
    padding-right: 0;
  }
}
