@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//图录与珍大师展示
.indexImgList{
  margin-bottom: pxTorem(10px);
  @extend .clearfix;
  section{
    float:left;
    width:50%;
    &:nth-of-type(odd){
      .box{
        margin-right:pxTorem(10px);
      }
    }
    &:nth-of-type(even){
      .box{
        margin-left:pxTorem(10px);
      }
    }
  }
  a{
    display: block;
    width:100%;
  }
  .img{
    width:100%;
    img{
      @extend .img-auto;
    }
  }
  .box{
    position: relative;
  }
  .bottom{
    position: absolute;
    left:0;
    bottom:0;
    background:rgba(0,0,0,.8);
    width:100%;
    height:pxTorem(80px);
    h2,h3{
      color:#fff;
      text-align:center;
      line-height: normal;
    }
    h2{
      font-size:pxTorem(32px);
      padding-top:pxTorem(4px);
    }
    h3{
      font-size:pxTorem(24px);
    }
  }
}


//小标题
%indexTitleComm{
  $h:60px;
  height:pxTorem($h);
  line-height:pxTorem($h);
  text-align:center;
  font-size:pxTorem(32px);
  strong{
    position: relative;
    color:#333333;
    &:before,&:after{
      content: "\20";
      position: absolute;
      top:50%;
      height:1px;
      width:pxTorem(16px);
      background:#999999;
    }
    &:before{
      left:pxTorem(-26px);
    }
    &:after{
      right:pxTorem(-26px);
    }
  }
}


//精品汇|乐淘
.indexGoods{
  //$h:610px;
  height:auto;
  margin-bottom: pxTorem(10px);
  .imgLink{
    a{
      width:100%;
      display: block;
    }
    img{
      @extend .img-auto;
    }
  }
  section{
    margin-top:pxTorem(10px);
    width:100%;
    overflow:hidden;
    overflow-x: scroll;
    $h:210px;
    height:pxTorem($h);
    .box{
      height:pxTorem($h);
      width:pxTorem(($h + 10) * 10);
    }
    a{
      float:left;
      width:pxTorem($h);
      height:pxTorem($h);
      margin-right:pxTorem(10px);
      display: block;
      position: relative;
    }
    h2{
      background:rgba(0,0,0,.8);
      position: absolute;
      left:0;
      bottom:0;
      width:100%;
      height:pxTorem(48px);
      line-height:pxTorem(48px);
      color:#fff;
      text-align:center;
      font-size:pxTorem(24px);
    }
    img{
      @extend .img-auto;
    }
  }
}


/*************************/

//分类
.indexClassify{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index:27;
  .box{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    background:#e5e5e5;
    width:73%;
    z-index:29;
    box-shadow: pxTorem(20px) 0 pxTorem(50px) rgba(0,0,0,.6);
  }
}

//分类列表
.classifyList{
  overflow-y:auto;
  @import "categoryTypeComm";
}


//搜索
.indexSearch{
  $h:58px;
  height:pxTorem($h);
  $topH:40px;
  padding-top:pxTorem($topH);
  position: absolute;
  left:0;
  top:0;
  width:100%;
  z-index:35;
  .inputSearch{
    width:74%;
    height:pxTorem(58px);
    line-height:pxTorem(58px);
    margin:0 auto;
    background:rgba(255,255,255,.8);
    font-size:pxTorem(26px);
    text-indent: pxTorem(65px);
    @include border-radius(3px);
    position: relative;
    &:before{
      position: absolute;
      left:pxTorem(12px);
      top:pxTorem(12px);
      content: "\20";
      display: block;
      width:pxTorem(40px);
      height:pxTorem(36px);
      background-image: url("../images/iconSearchC.png");
      @extend %ico_rem;
    }
    a{
      color:#999999;
      display: block;
    }
  }
  .testClassify,.indexNotice{
    position: absolute;
    top:pxTorem($topH);
    color:#fff;
    width:pxTorem(50px);
    font-size:pxTo750(18px);
    text-align:center;
    &:before{
      margin:0 auto;
      content: "\20";
      display: block;
    }
    a{
      color:#fff;
    }
  }
  .testClassify{
    left:pxTorem(30px);
    &:before{
      width:pxTorem(40px);
      height:pxTorem(36px);
      background-image: url("../images/iconIndexClassify.png");
      @extend %ico_rem;
    }
  }
  .indexNotice{
    right:pxTorem(37px);
    &:before{
      width:pxTorem(33px);
      height:pxTorem(36px);
      background-image: url("../images/iconNotice.png");
      @extend %ico_rem;
    }
  }
}


//轮播
.indexAd{
  //$h:560px;
  //height:pxTorem($h);
  overflow:hidden;
  position: relative;
  ul{
    //width:999em;
    li{
      //float:left;
    }
    a{
      width:100%;
      display: block;
    }
    img{
      @extend .img-auto;
    }
  }
  .indexAdTab{
    position: absolute;
    left:0;
    bottom:pxTorem(22px);
    width:100%;
    height:pxTorem(12px + 2);
    text-align:center;
    span{
      vertical-align: top;
      @include border-radius(50%);
      display: inline-block;
      width:pxTorem(12px - 2);
      height:pxTorem(12px - 2);
      border:pxTorem(2px) solid #fff;
      &.select{
        border:0;
        background:#fff;
        width:pxTorem(12px);
        height:pxTorem(12px);
      }
    }
  }
}

//导航
.indexNav{
  //$h:170px;85
  //height:pxTorem($h);
  padding:pxTorem(30px) 0;
  @extend .display-flex;
  text-align:center;
  a{
    @extend .flex;
    text-align:center;
    color:#333333;
  }
  .img{
    width:pxTorem(65px);
    height:pxTorem(65px);
    margin:0 auto pxTorem(15px);
    img{
      display: block;
      @extend .img-auto;
    }
  }
}

//图录
.indexPdf{
  @extend .indexImgList;
}


//珍石惠
.indexRush{
  //$h:320px;
  //height:pxTorem($h);
  margin-bottom: pxTorem(20px);
  a{
    width:100%;
    display: block;
    position: relative;
    color:#fff;
  }
  img{
    @extend .img-auto;
  }
  .box{
    position: absolute;
    top:15%;
    left:54%;
    h2{
      font-size:pxTorem(42px);
      margin-bottom: pxTorem(10px);
    }
    p{
      font-size:pxTorem(24px);
    }
    strong{
      font-size:pxTorem(28px);
    }
    b{
      font-weight:normal;
      margin-right:pxTorem(20px);
    }
  }
}
//倒记时
.indexTime{
  $h:24px;
  height:pxTorem($h * 2);
  margin-bottom: pxTorem(10px);
  span{
    display: inline-block;
    position: relative;
    width:pxTorem(50px);
    height:pxTorem($h * 2);
    line-height:pxTorem($h * 2);
    color:#fff;
    text-align:center;
    font-size:pxTorem(32px);
    z-index:1;
    &:before,&:after{
      width:pxTorem(50px);
      height:pxTorem($h);
      content: "\20";
      position: absolute;
      left:0;
      @extend %ico_rem;
      z-index:-1;
    }
    &:before{
      top:0;
      background-image: url("../images/iconIndexTimeT.png");
    }
    &:after{
      bottom:0;
      background-image: url("../images/iconIndexTimeB.png");
    }
  }
}


//精品
.indexBoutique{
  background:#fff;
  @extend .indexGoods;
  //小标题
  .indexTitle{
    @extend %indexTitleComm;
  }
}

//寿山石
.indexSS{
  background:#fff;
  @extend .indexGoods;
  //小标题
  .indexTitle{
    @extend %indexTitleComm;
  }
}

//珠宝
.indexJewelry{
  @extend .indexGoods;
  .indexTitle{
    @extend %indexTitleComm;
  }
}

//私洽
.indexStruck{
  a{
    width:100%;
    display: block;
  }
  img{
    @extend .img-auto;
  }
}


//珍大师
.indexArticle{
  .indexTitle{
    @extend %indexTitleComm;
  }
  @extend .indexImgList;
  background:#fff;
  margin-top:pxTorem(20px);
  .box{
    margin-bottom:pxTorem(10px);
  }
}


//猜你喜欢
.guessLike{
  position: relative;
  //渐变
  .gradient{
    position: absolute;
    left:0;
    top:0;
    height:pxTo750(415px);
    width:100%;
    background-color:#fff;
    @include gradient-vertical(#fff 30%, #e5e5e5);
  }
  //小标题
  .indexTitle{
    position: relative;
    @extend %indexTitleComm;
  }
  .noproduct{
    position: relative;
  }
}