@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";


//360度旋转
@include keyframes(rotate){
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

//从小至大
@include keyframes(scaleSmallTobig){
  0%{
    @include scale(0);
    //@include opacity(50);
  }
  100%{
    @include scale(1);
    //@include opacity(100);
  }
}
//从大至小
@include keyframes(scalebigToSmall){
  0%{
    @include scale(1);
    //@include opacity(50);
  }
  100%{
    @include scale(0);
    //@include opacity(100);
  }
}


//从下往上滑动显示
@include keyframes(SlideBottomToTop){
  0%{
    @include translate3D(0,100%,0);
    @include opacity(50);
  }
  100%{
    @include translate3D(0,0,0);
    @include opacity(100);
  }
}
//从上往下滑动显示
@include keyframes(SlideTopToBottom){
  0%{
    @include translate3D(0,0,0);
    @include opacity(100);
  }
  100%{
    @include translate3D(0,100%,0);
    @include opacity(50);
  }
}

//从右往左滑动显示
@include keyframes(SlideRightToLeft){
  0%{
    @include translate3D(100%,0,0);
    //@include opacity(100);
  }
  100%{
    @include translate3D(0,0,0);
    //@include opacity(80);
  }
}

//抖动
//@include keyframes(shake){
//  0%,100%{
//    @include translateX(0);
//  }
//  //如果需要抖动久点就增加30%、50%、70%反之抖动少
//  10%,30%,50%{
//    @include translateX(-10px);
//  }
//  20%,40%,60%{
//    @include translateX(10px);
//  }
//}