@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//登录注册
.loginRegister{
  margin-left: pxTorem(30px);
  margin-right: pxTorem(30px);
  $h:50px;
  .formGroup{
    @extend .display-flex;
    align-items: center;
    position: relative;
    margin-top: pxTorem($h);
    border-bottom: 1px solid $color-ccc;
    padding-left: pxTorem(8px);
    padding-bottom: pxTorem(15px);
    i{
      @include transition(all 1s);
      position: absolute;
      left:0;
      top:0;
      margin-right: pxTorem(10px);
      display: block;
      font-style: normal;
      font-size: pxTorem(28px);
      color: $color-999;
      &:before{
        content: "\20";
        @extend %ico_rem;
        position: absolute;
        left:0;
        top:0
      }
      //用户
      &.user{
        padding-left:pxTorem(32px + 10);
        &:before{
          width:pxTorem(32px);
          height:pxTorem(35px);
          background-image: url("../images/iconUser.png");
        }
      }
      //锁
      &.passC{
        padding-left:pxTorem(30px + 10);
        &:before{
          width:pxTorem(30px);
          height:pxTorem(37px);
          background-image: url("../images/iconPass.png");
        }
      }
      //开锁验证码
      &.openPassC{
        top:pxTorem(8px);
        padding-left:pxTorem(30px + 10);
        &:before{
          width:pxTorem(30px);
          height:pxTorem(37px);
          background-image: url("../images/iconPass2.png");
        }
      }
      //删除
      &.delete{
        position: static;
        width:pxTorem(26px);
        height: pxTorem(26px);
        background-image: url("../images/iconDeleteRound.png");
        @extend %ico_rem;
      }
    }
    input[type='tel'],input[type='password'],input[type='number']{
      font-size: pxTorem(28px);
      color: $color-999;
      border: none;
      vertical-align: top;
      @extend .flex;
    }
    //验证码
    .code{
      display: inline-block;
      height: pxTorem($h);
      line-height: pxTorem($h);
      font-size: pxTorem(28px);
      color: $red_c;
      &.select{
        color:#999;
      }
      & + i.delete{
        position: absolute;
        top:pxTorem(16px);
        left:50%;
      }
    }
    &.select{
      i{
        font-size:pxTorem(24px);
        color:$blue-base;
        //蓝色用户
        &.user{
          left:pxTorem(8px);
          top:pxTorem(-28px);
          &:before{
            top:pxTorem(2px);
            width:pxTorem(22px);
            height:pxTorem(24px);
            background-image: url("../images/iconUserBlue.png");
          }
        }
        //蓝色锁密码
        &.passC{
          left:pxTorem(8px);
          top:pxTorem(-28px);
          &:before{
            top:pxTorem(2px);
            width:pxTorem(23px);
            height:pxTorem(29px);
            background-image: url("../images/iconPassblue.png");
          }
        }
        //蓝色验证码
        &.openPassC{
          left:pxTorem(8px);
          top:pxTorem(-28px);
          &:before{
            top:pxTorem(2px);
            width:pxTorem(23px);
            height:pxTorem(29px);
            background-image: url("../images/iconPassblue2.png");
          }
        }
      }
    }
  }
  //.formControl{
  //  @extend .flex;
  //}
  .formGroupTip{
    text-align:right;
    margin-top: pxTorem(45px);
    a{
      color: $link-color;
      font-size: pxTorem(24px);
    }
  }
  //按钮
  .btn{
    margin: pxTorem(35px) 0;
    background-color: $color-999;
    a{
      color: #fff;
    }
    &.select{
      background-color: $blue-base;
    }
  }

}





