@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";


nav.appNav{
  $h:98px;
  @include display-flex();
  background: #fff;
  height: pxTo750($h);
  border-top:1px solid #999999;
  a{
    display: block;
    @include flex(1);
    font-size:pxTo750(20px);
    color:#333333;
    text-align:center;
    &:before{
      content: "\20";
      display: block;
      margin:pxTo750(12px) auto 0;
      width: pxTo750(44px);
      height: pxTo750(46px);
    }
    //首页
    &.appNavHome{
      &:before {
        //width: pxTo750(44px);
        //height: pxTo750(46px);
        background-image: url("../images/iconNavHome.png");
        @extend %ico_rem;
      }
    }
    //分类
    &.appNavClassify{
      &:before {
        //width: pxTo750(47px);
        //height: pxTo750(46px);
        background-image: url("../images/iconNavClassify.png");
        @extend %ico_rem;
      }
    }
    //购物车
    &.appNavShopping{
      &:before {
        //width: pxTo750(49px);
        //height: pxTo750(43px);
        background-image: url("../images/iconNavShopping.png");
        @extend %ico_rem;
      }
    }
    //注册有礼
    &.appNavReg{
      &:before {
        //width: pxTo750(46px);
        //height: pxTo750(46px);
        background-image: url("../images/iconNavReg.png");
        @extend %ico_rem;
      }
    }
    //我的订单
    &.appNavOrder{
      &:before {
        //width: pxTo750(38px);
        //height: pxTo750(46px);
        background-image: url("../images/iconNavOrder.png");
        @extend %ico_rem;
      }
    }
    //个人
    &.appNavUser{
      &:before {
        //width: pxTo750(42px);
        //height: pxTo750(46px);
        background-image: url("../images/iconNavUser.png");
        @extend %ico_rem;
      }
    }
    //当前页
    &.select{
      color:$blue-base;
      //首页
      &.appNavHome {
        &:before {
          background-image: url("../images/iconNavHomeS.png");
        }
      }
      //分类
      &.appNavClassify{
        &:before {
          background-image: url("../images/iconNavClassifyS.png");
        }
      }
      //购物车
      &.appNavShopping{
        &:before {
          background-image: url("../images/iconNavShoppingS.png");
        }
      }
      //注册有礼
      &.appNavReg{
        &:before {
          background-image: url("../images/iconNavRegS.png");
        }
      }
      //我的订单
      &.appNavOrder{
        &:before {
          background-image: url("../images/iconNavOrderS.png");
        }
      }
      //个人
      &.appNavUser{
        &:before {
          background-image: url("../images/iconNavUserS.png");
        }
      }
    }
  }
}