@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//搜索
.searchInfoList{
  h2,ul a{
    border-bottom: 1px solid #999999;
    margin:0 pxTorem(30px);
    height:pxTorem(80px);
    line-height:pxTorem(80px);
  }
  h2{
    color:#999999;

  }
  ul{
    li{

    }
    a{
      display: block;
      color:#333333;
    }
  }
  .btn{
    margin-top:pxTorem(40px);
    a{
      display: block;
      margin:0 auto;
      text-align:center;
      width:pxTorem(200px);
      height:pxTo750(48px);
      line-height:pxTo750(48px);
      border:1px solid $red-base;
      color:$red-base;
      font-size:pxTo750(26px);
      @include border-radius(1px);
    }
  }
}