@charset "UTF-8";
@import "../comm/css3";
@import "../comm/common";

//字体样式
.colorBase{
  color: $color-333;
}
.colorGray{
  color: $color-999 !important;
}
.colorRed{
  color: $red-base !important;
}
.colorWeight{
  font-weight: bold !important;
}
.pb20{
  padding-bottom: pxTorem(20px);
}
.mt-40{
  margin-top: pxTorem(-40px);
}


//用户中心
.user{
  //width: 100%;
  //height: 100%;
  //overflow: scroll;
  //图标
  i{
    @extend %ib;
    width: pxTorem(41px);
    height: pxTorem(41px);
    @extend %ico_rem;
    vertical-align: middle;
    &.iconUserNoPay{
      background-image: url("../images/iconUserNoPay.png");
    }
    &.iconUserPay{
      background-image: url("../images/iconUserPay.png");
    }
    &.iconUserTip{
      background-image: url("../images/iconUserTip.png");
    }
    &.iconUserAccept{
      background-image: url("../images/iconUserAccept.png");
    }
    &.iconUserAcceptGray{
      background-image: url("../images/iconUserAcceptGray.png");
    }
    &.iconUserOrder{
      background-image: url("../images/iconUserOrder.png");
    }
    &.iconUserReturn{
      background-image: url("../images/iconUserReturn.png");
    }
    &.iconUserLike{
      background-image: url("../images/iconUserLike.png");
    }
    &.iconUserHelp{
      background-image: url("../images/iconUserHelp.png");
    }
    &.iconUserSetting{
      background-image: url("../images/iconUserSetting.png");
    }
    &.iconUserPoup{
      background-image: url("../images/iconUserPoup.png");
    }
    &.iconUserAddress{
      background-image: url("../images/iconUserAddress.png");
    }
    &.iconUserAddressGray{
      background-image: url("../images/iconUserAddressGray.png");
    }
    &.iconUserleft{
      width: pxTorem(16px);
      height: pxTorem(30px);
      background-image: url("../images/iconArrowR.png");
    }
    &.iconUserChangeTip{
      width: pxTorem(40px);
      height: pxTorem(40px);
      background-color: $red-base;
      border-radius: 100%;
      background-image: url("../images/iconUserChangeTip.png");
      background-size:pxTorem(8px) pxTorem(30px) ;
    }
    &.iconUserGou2{
      display: none;
      width: pxTorem(28px);
      height: pxTorem(21px);
      margin-top: pxTorem(35px);
      background-image: url("../images/iconUserGou2.png");
    }
    //选中圆圈
    &.iconCircleSelect{
      display: none;
      width:pxTorem(28px);
      height: pxTorem(28px);
      background-color: $red-base;
      border-radius: 100%;
      background-image: url("../images/iconCircleSelect.png");
      background-size: pxTorem(18px) pxTorem(13px);
    }
    //未选中圆圈
    &.iconCircle{
      width:pxTorem(26px);
      height: pxTorem(26px);
      border-radius: 100%;
      border:1px solid $color-999;
    }
    //地址编辑
    &.iconUserAdressEdit{
      width: pxTorem(26px);
      height: pxTorem(26px);
      background-image: url("../images/iconUserAdressEdit.png");
    }
    //地址删除
    &.iconUserAdressDelete{
      width: pxTorem(28px);
      height: pxTorem(26px);
      background-image: url("../images/iconUserAdressDelete.png");
    }
  }
  //个人中心
  .photo{
    position: relative;
    //width: pxTorem(750px);
    height: pxTorem(300px);
    background-image: url("../images/iconUserbg.jpg");
    @extend %ico_rem;
  }
  //消息
  .newTip{
    position: absolute;
    top: pxTorem(58px);
    right: pxTorem(30px);
    i.iconUserTip{
      width: pxTorem(37px);
      height: pxTorem(37px);
      @extend %block;
    }
    span{
      font-size: pxTorem(18px);
    }
  }
  //头像
  .photoImgTel{
    @include display-flex();
    align-items: center;
    position: absolute;
    left:pxTorem(30px);
    bottom: pxTorem(35px);
    img{
      width:pxTorem(100px);
      height: pxTorem(100px);
      border-radius: 100%;
    }
    span{
      margin-left: pxTorem(15px);
      font-size: pxTorem(32px);
    }
  }
  //订单状态
  .orderState{
    @include display-flex();
    background-color: #fff;
    li{
      position: relative;
      @include flex(1);
      padding-top: pxTorem(20px);
      padding-bottom: pxTorem(25px);
      @extend %tc;
      a{
        color: $color-333;
      }
      .num{
        position: absolute;
        top:pxTorem(16px);
        left: 52%;
        padding:0 pxTorem(10px);
        border-radius: pxTorem(15px);
        background-color: $red-base;
        color: #fff;
      }
    }
    i{
      @extend %block;
      margin: 0 auto pxTorem(20px) auto;
    }
  }
  //无边框
  .noBorder{
      border: none !important;
  }
  //有边框
  .haveBorder{
    border-bottom: 1px solid $color-ccc !important;
  }
  //虚线边框
  .dashedBorder{
    margin-left: pxTorem(30px);
    margin-right: pxTorem(30px);
    border-bottom: 1px dashed $color-ccc;
  }
  //用户中心列表
  .userList,.userAdressList,.userOrderDetail{
    width: 100%;
    background-color: #fff;
    li{
      margin-left: pxTorem(30px);
      margin-right: pxTorem(30px);
      font-size: pxTorem(28px);
    }
  }
  //item列表
  .userList{
    li{
      $height:pxTorem(90px);
      height: $height;
      line-height: $height;
      border-bottom: 1px solid $color-ccc;
      a{
        @extend %block;
        height: $height;
        line-height: $height;
        color: $color-333;
      }
      b{
        font-weight: normal;
      }
      &.select{
        span{
          color: $red-base;
        }
        i{
          &.iconUserGou2{
            @extend %block;
          }
          &.iconCircleSelect{
            @extend %block;
          }
          &.iconCircle{
            display: none;
          }
        }
      }
      &:last-of-type{
        border-bottom: none;
      }
      &:first-of-type{
        border-bottom: 1px solid $color-ccc;
      }
    }
    i{
      margin-right: pxTorem(15px);
      margin-top: pxTorem(-5px);
      &.iconUserleft,&.iconUserGou2,&.iconCircleSelect,&.iconCircle{
        margin-right: 0;
        margin-top: pxTorem(30px);
        @extend %fr;
      }
    }
    input{
      width: 100%;
      border:none;
    }
    //高度自适应布局
    .heightAutoLayout{
      height: auto;
      line-height: pxTorem(40px);
      padding-top: pxTorem(25px);
      padding-bottom: pxTorem(25px);
    }
    .btn{
      margin-top: 0;
      &:before{
        content: "\20";
        display: inline-block;
        width: pxTorem(24px);
        height: pxTorem(33px);
        background-image: url("../images/iconTel.png");
        @extend %ico_rem;
        vertical-align: middle;
        margin-right: pxTorem(5px);
      }
    }
    //红边白底按钮
    .btnRedBorder{
      background-color: #fff;
      border: 1px solid $red-base;
      color: $red-base;
    }
  }
  //收货地址列表
  .userAdressList{
    padding-top: pxTorem(25px);
    padding-bottom: pxTorem(25px);
    li{
      &.adressInfo{
        padding-top: pxTorem(35px);
        padding-bottom: pxTorem(30px);
        border-bottom: 1px solid $color-ccc;
      }
      &.adressEdit{
        @include display-flex();
        align-items: center;
        margin-top: pxTorem(20px);
        span{
          @include flex(1);
          margin-left: pxTorem(10px);
        }
        span:after{
          content: '设为地址';
        }
        b{
          font-weight: normal;
          margin-left: pxTorem(10px);
          &:first-of-type{
            margin-right: pxTorem(50px);
          }
        }
      }
      &.select{
        span{
          color: $red-base;
        }
        .iconCircle{
          display: none;
        }
        .iconCircleSelect{
          @extend %block;
        }
      }
      &.defaultAdress{
        span:after{
          content: "默认地址";
        }
      }
    }
  }
  //左右两边对齐布局
  .justifyLayout{
    @include display-flex();
    justify-content: space-between;
    span{
      @include flex(1);
      &:last-of-type{
        @extend %tr;
      }
    }
  }
  //中间内容flex(1)布局
  .centerFlexLayout{
    @include display-flex();
    align-items: center;
    span{
      @include flex(1);
    }
  }
  //更改日期提示
  .userChangeTip{
    font-size: pxTorem(28px);
    color: $red-base;
    margin-top: pxTorem(25px);
    margin-left: pxTorem(30px);
  }
  //关于我们
  .aboutMe{
    @extend %block;
    margin: pxTorem(65px) auto pxTorem(35px) auto;
  }
  .aboutMeText{
    @extend %tc;
    margin-bottom: pxTorem(75px);
    font-size: pxTorem(32px);
    color: $blue-base;
  }
  //切换
  .wayTab{
    background: #fff;
    @include display-flex();
    $height:pxTorem(88px);
    box-sizing: border-box;
    width: 100%;
    height: $height;
    border-bottom: 1px solid $color-ccc;
    li{
      @include flex(1);
      @extend %tc;
    }
    a{
      @extend %ib;
      color: $color-333;
      font-size: pxTorem(28px);
      height: $height - pxTorem(4px);
      line-height: $height - pxTorem(4px);
      &:hover{
        border-bottom: pxTorem(4px) solid $blue-base;
      }
    }
    li.active a{
      border-bottom: pxTorem(4px) solid $blue-base;
    }
  }
  //自己送货
  .MyDelivery{
    li{
      height: auto;
      padding:pxTorem(30px) 0;
      line-height:pxTorem(40px);
      &.deliveryTime{
        padding: pxTorem(15px) 0;
      }
    }
  }
  .deliveryTime{
    @include display-flex();
    align-items: center;
    input{
      @include flex(1);
      width: pxTorem(250px);
      height: pxTorem(60px);
      border:1px solid $color-ccc;
      margin: 0 pxTorem(20px);
    }
  }
  //按钮
  a.btn{
    @extend %block;
    //width: pxTorem(690px);
    height: pxTorem(90px);
    line-height: pxTorem(90px);
    @extend %tc;
    margin: pxTorem(40px) pxTorem(30px) 0 pxTorem(30px);
    color: #fff;
    font-size: pxTorem(32px);
    background-color: $color-999;
    outline: none;
    border: none;
    &.select{
      background-color: $blue-base;
    }
  }
  div.btn{
    width: 100%;
    @include display-flex();
    border: none;
    font-size: pxTorem(32px);
    margin: 0;
    a{
      @extend %block;
      @include flex(1);
      border: none;
      &.white{
        background-color: #fff;
        color: $color-333;
      }
      &.blue{
        background-color: $blue-base;
        color:#fff;
      }
    }
  }

  //左侧边框标题
  .lBorTitle{
    border-left: pxTorem(7px) solid $blue-base;
    padding-left: pxTorem(10px);
    font-size: pxTorem(28px);
    margin: pxTorem(30px);
    letter-spacing: 0;
  }
  //退货凭证列表
  .returnProofList{
    @include display-flex();
    margin-left: pxTorem(30px);
    margin-right: pxTorem(30px);
    li{
      @include flex(1);
      width: pxTorem(215px);
      height: pxTorem(215px);
      border: 1px dashed #aaa;
      background-image: url("../images/iconUserproof.png");
      @extend %ico_rem;
      background-size:pxTorem(86px) pxTorem(86px) !important;
      &:nth-of-type(2){
        margin-left: pxTorem(20px);
        margin-right: pxTorem(20px);
      }
      img{
        width: pxTorem(213px);
        height: pxTorem(215px);
      }
    }
  }
  //用户中心订单详情item
  .userOrderDetail{
    @include display-flex();
    padding-top: pxTorem(20px);
    padding-bottom: pxTorem(20px);
    font-size: pxTorem(28px);
    .box,span{
      @include flex(1);
    }
    img{
      @extend %block;
      width: pxTorem(182px);
      height: pxTorem(182px);
      margin-left: pxTorem(30px);
    }
    .box{
      position: relative;
      @include display-flex();
      flex-direction: column;
      margin-left: pxTorem(25px);
      margin-right: pxTorem(30px);
      span{
        margin-bottom: pxTorem(12px);
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      .positionTop,.positionBottom{
        position: absolute;
        right: 0;
        top:pxTorem(60px);
      }
      .positionBottom{
        top:pxTorem(130px);
      }
    }
  }
}



//帮助
.help{
  padding:0 pxTorem(20px);
  h1{
    font-size:pxTorem(28px);
    padding-top:pxTorem(15px);
  }
  p{
    margin-top:pxTorem(10px);
    line-height:pxTorem(40px);
  }
  .cen{
    text-align:center;
    img{
      width:100%;
    }
  }
  .indent{
    text-indent:2em;
  }
  .red{
    color:$red_c;
  }
}