<div ng-controller="TestController">
    <h1 ng-bind="title"></h1>
    <p>{{message}}</p>
    <p>{{greeting.text}}</p>
    <p>{{greeting.id}}</p>
    <p>1 + 2 = {{ 1 + 2 }}</p>
</div>
<div>
    <input type="text" value="数据绑定" ng-model="txt"/>你输入的是{{txt}}
</div>
<div ng-controller="nowController">
    <h1 ng-bind="clock.now"></h1>
</div>
<div ng-controller="FirstController">
    <h1>37页</h1>
    <button ng-click="add(1)" class="button">add</button>
    <button ng-click="subtract(1)" class="button alert">subtract</button>
    <h4>current count:{{counter}}</h4>
</div>
<div ng-controller="exprController">
    <h1>40页</h1>
    <input type="text" ng-model="expr" placeholder="Enter an expression" />
    <h2>{{parsedValue}}</h2>
</div>
<div ng-controller="interpretController">
    <input type="email" ng-model="to" placeholder="Recipient"/>
    <div><textarea ng-model="emailBody"></textarea></div>
    <pre>{{previewText}}</pre>
</div>
<div ng-controller="locationController">
    <p>当前页面的路径：{{path}}</p>
    <p>获取编码后完整url：{{absurl}}</p>
    <p>获取url中hash片段：{{hash}}</p>
    <p>获取url中的主机：{{host}}</p>
    <p>获取url中的端口：{{port}}</p>
    <p>获取url中的协议：{{protocol}}</p>
    <p>获取url中的查询串：{{search}}</p>
    <p>获取当前页面的url，传入参数可以用来跳转：{{url}}</p>
</div>
<div>
    <p>We can access:{{ rootProperty }}</p>
    <div ng-controller="ParentController">
        <p>We can access:{{ rootProperty }} and {{parentProperty}}</p>
        <div ng-controller="ChildController">
            <p>We can access:{{ rootProperty }} and {{parentProperty}} and {{childProperty}}</p>
            <p>{{fullSentenceFromChild}}</p>
        </div>
    </div>
</div>

<div>
    <p>布尔属性</p>
    <p>1.ng-disabled</p>
    <p>2.ng-readonly</p>
    <p>3.ng-checked</p>
    <p>4.ng-selected</p>
    <p>类布尔属性</p>
    <p>1.ng-href</p>
    <p>2.ng-src</p>
    <p>1.ng-app</p>
    <p>2.ng-controller</p>
    <p>3.ng-include</p>
    <p>4.ng-switch</p>
    <p>5.ng-view</p>
    <p>6.ng-if</p>
    <p>7.ng-repeat</p>
    <p>8.ng-init</p>
    <p>9.{{}}</p>
    <p>10.ng-bind</p>
    <p>11.ng-cloak</p>
    <p>12.ng-bind-template</p>
    <p>13.ng-model</p>
    <p>14.ng-show/mg-hide</p>
    <p>15.ng-change</p>
    <p>16.ng-form</p>
    <p>17.ng-click</p>
    <p>18.ng-select</p>
    <p>19.ng-submit</p>
    <p>20.ng-class</p>
    <p>21.ng-attr-(suffix)</p>
    <p>ng-style</p>
</div>

<div>
    <p>1.ng-disabled</p>
    <input type="text" ng-model="someProperty" placeholder="TypetoEnable"/>
    <button ng-model="button" ng-disableb="someProperty">AButton</button>
</div>
<div><textarea ng-disabled="isDisabled">Wait5seconds</textarea></div>
<div>
    <p>2.ng-readonly</p>
    <input type="text" ng-model="Readonly"/>
    <input type="text" ng-readonly="Readonly" value="前面是否有值"/>
</div>
<div>
    <p>3.ng-checked</p>
    <label for="">myChecked={{myChecked}}</label>
    <input type="checkbox" ng-init="myChecked=true" ng-checked="myChecked" ng-model="myChecked"/>
</div>
<div>
    <input type="checkbox" ng-model="isTwoFish"/>
    <select>
        <option>One Fish</option>
        <option ng-selected="isTwoFish">Two Fish</option>
    </select>
</div>
<div>
    <p>3.ng-include会报错</p>
    <!--<div ng-include="/list/bookcontent.html" ng-controller="myInclude">Hello {{name}}</div>-->
</div>
<div>
    <p>4.ng-switch</p>
    <input type="text" ng-model="person.name"/>
    <div ng-switch on="person.name">
        <p ng-switch-default=>And the winner is</p>
        <h1 ng-switch-when="Ari">{{ person.name }}</h1>
    </div>
</div>
<div>
    <p>6.ng-if</p>
    <div ng-if="true">
        真
    </div>
    <div ng-if="false">
        假
    </div>
</div>
<div>
    <p>7.ng-repeat</p>
    <ul ng-controller="PeoplecController">
        <li ng-repeat="person in people" ng-class="{even:!$even,odd:!$odd}">
            {{person.name}} lives in {{person.city}}
        </li>
    </ul>
</div>
<div>
    <p>15.ng-change</p>
    <p>输入的值加2</p>
    <div ng-controller="EquationController">
        <input type="text" ng-model="equation.x" ng-change="change()"/>
        <code>{{equation.output}}</code>
    </div>
</div>
<div>
    <p>16.ng-form</p>
    <form name="signup_form" ng-controller="FormController" ng-submit="submitForm()" novalidate>
        <div ng-repeat="field in fields" ng-form="signup_form_input">
            <input type="text" name="dynamic_input" ng-required="field.isRequired" ng-model="field.name" placeholder="{{ field.placeholder }}"/>
            <div ng-show="signup_form_input.dynamic_input.$invalid">
                <span class="error" ng-show="signup_form_input.dynamic_input.$error.required">
                    the field is required
                </span>
            </div>
        </div>
        <button type="submit" ng-disabled="signup_form.$invalid">
            Submit All
        </button>
    </form>
</div>
<div>
    <p>18.ng-select</p>
    <div ng-controller="CityController">
        <select ng-model="city" ng-options="city.name for city in cities">
            <option value="">Choose City</option>
        </select>
        Best City:{{city.name}}
    </div>
</div>
<div>
    <p>19.ng-submit没实现</p>
    <form ng-submit="submit" ng-controller="submitController">
        Enter text and hit enter:
        <input type="text" ng-model="person.name" name="person.name"/>
        <input type="submit" name="person.name" value="Submit"/>
        <code>people={{people}}</code>
        <ul ng-repeat="(index,object) in people">
            <li>{{object.name}}</li>
        </ul>
    </form>
</div>

<div>
    <p>用户名长度验证</p>
    <form name="myForm">
        user name:<input type="text" name="userName" ng-model="user.name" ng-minlength="3"/>
        <span class="error" ng-show="myForm.userName.$error.minlength">用户至少3个字符!</span>
    </form>
</div>

<div>
    <form ng-controller="StartUpController">
        <p>表单输入</p>
        <input type="checkbox" ng-model="youCheckedlt" name="" id=""/>
        <p>starting:<input type="text" ng-change="computeNeeded()" ng-model="funding.startingEstimate" /></p>
        <p>{{funding.needed}}</p>
    </form>
</div>

<div ng-controller="StudentListcontroller">
    <p>插入一个新学生列表</p>
    <ul>
        <li ng-repeat="student in students">
            <a href="{{student.id}}">{{student.name}}</a>
        </li>
    </ul>
    <button ng-click="insertTom()">inser</button>
</div>

<div ng-controller="DeathrayMenuController">
    <p>显示与隐藏</p>
    <button ng-click="toggleMenu()">toggle Menu</button>
    <ul ng-show="menuState.show">
        <li class="menu-disabled-{{isDisabled}}" ng-click="stun()">stun</li>
        <li>disintegrate</li>
        <li>erase</li>
    </ul>
</div>

<div ng-controller="HeaderController">
    <p>ng-class</p>
    <div ng-class="{error:isError,warning:isWarning}">{{messageText}}</div>
    <div ng-click="showError()">error</div>
    <div ng-click="showWarning()">warning</div>
</div>

<div>
    <p>高亮选中的一行</p>
    <table ng-controller="RestauranTableController">
        <tr ng-repeat="restaurant in directory" ng-click="select($index)" ng-class="{selected:$index == selecteRow}">
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.cuisine}}</td>
        </tr>
    </table>
</div>

<div>
    <table ng-controller="ShoppingController">
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
        </tr>
    </table>
</div>

<div>
    <form name="addUserForm" ng-controller="AddUserController">
        <h1>sign up</h1>
        <div ng-show="message">{{message}}</div>
        <div>first name:<input type="text" name="firstName" ng-model="user.first" required="required" /></div>
        <div>last name:<input type="text" ng-model="user.last" required="required" /></div>
        <div>email:<input type="email" ng-model="user.email" required="required" /></div>
        <div>age:<input type="number" ng-model="user.age" ng-maxlength="3" ng-minlength="1" /></div>
        <div><button ng-click="addUser()" ng-disabled="!addUserForm.$valid">submit</button></div>
    </form>
</div>


