<div><div my-Baidu my-Url="http://www.baidu.com" my-Link-Text="百度"></div></div>

<div><div my-Some some-Attr="http://www.baidu.com" my-Link-Text="百度"></div></div>

<div>
    <input type="text" ng-model="myUrl"/>
    <div my-Urlmodel some-Attr="{{ myUrl }}" my-Link-Text="去百度"></div>
</div>

<div ng-controller="MainController">
    Outside myDirective:{{myProperty}}
    <div my-main ng-init="myProperty='wow,this is cool'">
        Inside myDirective:{{myProperty}}
    </div>
</div>

<div ng-init="myProperty='wow,this is cool'">
    Surrounding scope:{{myProperty}}
    <div my-inherit-scope-directive></div>
    <div my-scope></div>
</div>

<div sideboxtitle="Links">
    <ul>
        <li>First link</li>
        <li>Second link</li>
    </ul>
</div>
<div sideboxtitle="TagCloud">
    <div class="tagcloud">
        <a href="">Graphics</a>
        <a href="">AngularJS</a>
        <a href="">D3</a>
    </div>
</div>


<div link>连接</div>

<div ng-controller="SomeController">
    <button ng-click="clickUnfocused()">not focused</button>
    <button ngbk-focus ng-click="clickFoucsed()">i'm very focused!</button>
    <div>{{message.text}}</div>
</div>