@charset "UTF-8";
@import "common/reset";
@import "common/common";


//html,body,#app,.view{
//  height: 100%;
//  width: 100%;
//}

html{
  font-size:$browser-default-font-size;
}

//
//
////基础布局，版面
//.wrap{
//  @include display-flex();
//  @include flex-direction(column);
//  width:100%;
//  height:100%;
//}
//article.main{
//  @include flex(1);
//  //overflow: hidden;
//  height: 100%;
//  overflow:scroll;
//  -webkit-overflow-scrolling: touch;
//  background: $bg-base;
//}
//.mainScroll{
//  //width:100%;
//  //height:100%;
//}
////.mainScroll::-webkit-scrollbar,
////.mainScroll::-webkit-scrollbar{
////  -webkit-opacity: 0;
////  opacity: 0;
////}
//article.scrollHide{
//  overflow:hidden;
//}
//header{
//
//}
//footer{
//
//}

//vue
[v-cloak]{
  visibility: hidden;
}
.v-cloak--block,.v-cloak--inline,.v-cloak--inlineBlock{
  display: none;
}



/*
  透明      88
  提示弹窗  100
  浮动弹窗  90
  浮动购物车
*/


.opacity{
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background: rgba(0,0,0,0.50);
}


// 打勾
.radio{
  margin-left: pxTorem(32px);
  width: pxTorem(40px);
  height: pxTorem(40px);
  box-sizing: border-box;
  border:1px solid #e5e5e5;
  border-radius: 100%;
  margin-right: pxTorem(16px);
  position: relative;
  &.select{
    border:0;
    background-image: linear-gradient(270deg, #F19058 0%, #F25432 100%);
    &:after{
      transform: rotate(45deg) scaleY(1);
    }
  }
  &:after{
    display: block;
    content: "";
    box-sizing: content-box;
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    width: pxTorem(10px);
    height: pxTorem(20px);
    left: pxTorem(14px);
    position: absolute;
    top: pxTorem(6px);
    transform: rotate(45deg) scaleY(0);
  }
}

// 单选
.radio2{
  width: pxTorem(40px);
  height: pxTorem(40px);
  border:1px solid #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.select{
    border-color: #ff4f29;
    &:after{
      content: '';
      width: pxTorem(20px);
      height: pxTorem(20px);
      border-radius: 100%;
      display: block;
      background: #ff4f29;
    }
  }
}
