<!DOCTYPE html>
<html ng-app="MyModule">
<head lang="en">
    <meta charset="UTF-8">
    <title>指令</title>
    <script src="../js/angular-1.0.1.min.js"></script>
</head>
<body>
    <div ng-controller="MyController">
        ctrl:<input type="text" ng-model="ctrlFlavor"/><br />
        Directive:<drink flavor="ctrlFlavor"></drink>
    </div>
</body>
<script>
    var mymodule=angular.module("MyModule",[]);

    mymodule.controller("MyController",["$scope",function($scope){
        $scope.ctrlFlavor="百威";
    }]);

    mymodule.directive("drink",function(){
        return{
            restrict:"AE",
            template:'<input type="text" ng-model="flavor" />',
            scope:{
                flavor:'='  //数据
            },
            replace:true
        }
    });
</script>
</html>