<!DOCTYPE html>
<html ng-app="">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/angular-1.0.1.min.js"></script>
</head>
<body>
<div ng-controller="CommonController">
    <div ng-controller="Conteroller1">
        <p>{{greeting.text}}</p>
        <button ng-click="test1()">test1</button>
    </div>
    <div ng-controller="Conteroller2">
        <p>{{greeting.text}}</p>
        <button ng-click="test2()">test1</button>
    </div>
    <button ng-click="commonFn()">通用</button>
</div>
</body>
<script>
    function CommonController($scope){
        $scope.commonFn=function(){
            alert("通用");
        }
    }

    function Conteroller1($scope){
        $scope.greeting={
            text:"控制器1"
        };
        $scope.test1=function(){
            alert(1);
        }
    }
    function Conteroller2($scope){
        $scope.greeting={
            text:"控制器2"
        };
        $scope.test2=function(){
            alert(2);
        }
    }
</script>
</html>