<!DOCTYPE html>
<html ng-app="">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/angular-1.0.1.min.js"></script>
</head>
<body>
<div ng-controller="EventController">
    <h2>Root scope</h2>
    <b>MyEvent</b> count:{{count}}
    <ul>
        <li ng-repeat="i in [1]" ng-controller="EventController">
            <button ng-click="$emit('MyEvent')">
                $emit('MyEvent')
            </button>
            <button ng-click="$broadcast('MyEvent')">
                $broadcast('MyEvent')
            </button>
            <br/>
            middle scope
            <b>MyEvent</b>count:{{count}}
            <ul>
                <li ng-repeat="i in [1,2]" ng-controller="EventController">
                    leaf scope
                    <b>MyEvent</b>count:{{count}}
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
<script>
    function EventController($scope){
        $scope.count=0;
        $scope.$on("MyEvent",function(){
            $scope.count++;
        })
    }
</script>
</html>