@charset "UTF-8";
@import "css3";
@import "common";


//基础布局，版面
.wrap{
  @include display-flex();
  @include flex-direction(column);
  width:100%;
  height:100%;
}
article.main{
  @include flex(1);
  overflow: hidden;
}
.mainScroll{
  width:100%;
  height:100%;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
//.mainScroll::-webkit-scrollbar,
//.mainScroll::-webkit-scrollbar{
//  -webkit-opacity: 0;
//  opacity: 0;
//}
article.scrollHide{
  overflow:hidden;
}
header{

}
footer{

}

//vue
[v-cloak]{
  visibility: hidden;
}
.v-cloak--block,.v-cloak--inline,.v-cloak--inlineBlock{
  display: none;
}


//定位
.fullPosition{
  background: #fff;
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

//清除定位
.noPosition{
  position: static;
}


//全屏弹窗，使用.wrap
.posAlert{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 28;
}
