<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <link rel="stylesheet" href="css/test.css" />
    <script data-main="main" src="../public/js/require.js"></script>
</head>
<body>
<div id="app">
    <dl>
        <dt>文本</dt>
        <dd>{{ message }}</dd>
        <dd v-text="message"></dd>
        <dd>{{ a }}</dd>
        <dd>{{*msg}}，只处理单次插值，今后的数据变化就不会再引起插值更新了</dd>
        <dd>{{span}}</dd>
        <dd>{{{span}}}，三大括号输出真的HTML字符串</dd>
        <dd id="{{id}}">id</dd>
        <dd>
            {{number+1}}
            {{ok ? "yes" : "no"}}
            {{message.split("").reverse().join()}}
        </dd>
    </dl>
    <dl>
        <dt>过滤器</dt>
        <dd>{{ message | uppercase }}</dd>
        <dd>{{ message | filterA | filterB }}串联多个过滤器</dd>
        <dd>{{ message | lowercase | capitalize }}</dd>
    </dl>
    <dl>
        <dt>指令</dt>
        <dd>Vue.js的指令api(cn.vuejs.org/api/#指令)</dd>
        <dd v-if="ok">ok</dd>
        <dd>v-text，v-html，v-model，v-on，v-else</dd>
        <dd>v-bind:href</dd>
    </dl>
    <dl>
        <dt>计算属性</dt>
        <dd>{{a}}</dd>
        <dd>{{c}}</dd>
    </dl>
    <dl>
        <dt>Class对象语法</dt>
        <dd v-bind:class="{'class-a':isA,'class-b':isB}">传给 v-bind:class 一个对象，以动态地切换class</dd>
        <dd v-bind:class="[classA,classB]">把一个数组传给 v-bind:class，以应用一个 class 列表</dd>
        <dd v-bind:class="[classA, isB ? classB : '']">三元表达式</dd>
        <dd v-bind:style="{color:activeColer,fontSize:fontSize+'px'}">v-bind:style的对象语法</dd>
        <dd v-bind:style="[styleObjectA,styleObjectB]">bind:style的数组语法</dd>
    </dl>
    <dl>
        <dt>渲染指令</dt>
        <dd v-if="ok">yes</dd>
        <dd v-else>No</dd>
        <template v-if="ok">
            <dd>想切换多个元素</dd>
            <dd>可以把一个 < template > 元素当做包装元素，并在上面使用 v-if</dd>
        </template>
        <template v-else>
            No
        </template>
        <dd v-show="ok">根据条件展示元素v-show指令,会始终渲染并保持在 DOM 中，v-show 不支持 < template > 语法</dd>
        <dd>用 v-else 指令给 v-if 或 v-show 添加一个 “else 块”，v-else 元素必须立即跟在 v-if 或 v-show 元素的后面——否则它不能被识别。</dd>
        <dd>
            v-for 指令基于一个数组渲染一个列表
            <div v-for="item in items">{{$index}}.{{item.list}}</div>
        </dd>
        <dd>
            template v-for
            <template v-for="item in items">
                <div>{{item.list}}</div>
            </template>
        </dd>
        <dd>
            v-for 遍历对象,除了$index、还有$key
            <ul>
                <li v-for="value in object">
                    {{ $key }} : {{ value }}
                </li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>数组变动检测</dt>
        <dd>push()</dd>
        <dd>pop()</dd>
        <dd>shift()</dd>
        <dd>unshift()</dd>
        <dd>splice()</dd>
        <dd>sort()</dd>
        <dd>reverse()</dd>
    </dl>
    <dl>
        <dt>表单控件绑定</dt>
        <dd><input type="text" v-model="msg" placeholder="edit me" />{{msg}}</dd>
        <dd>
            多选
            <input type="checkbox" value="jack" v-model="checkdNames" />
            <input type="checkbox" value="john" v-model="checkdNames" />
            <input type="checkbox" value="mike" v-model="checkdNames" />
            {{checkdNames | json}}
        </dd>
        <dd>
            当checkbox为true时，值为a；当为fals时，值为b
            <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b" />
            {{toggle}}
        </dd>
        <dd>
            <input type="radio" value="one" v-model="picked" />
            <input type="radio" value="two" v-model="picked" />
            {{picked}}
        </dd>
        <dd>
            用v-bind指令来绑定数据
            <input type="radio" v-model="pick" v-bind:value="pick" />
        </dd>
        <dd>
            <select v-model="selected">
                <option>a</option>
                <option>b</option>
                <option>c</option>
            </select>
            {{selected}}
            <select v-model="selectedN" multiple>
                <option>a</option>
                <option>b</option>
                <option>c</option>
            </select>
            {{selectedN}}
            <select v-model="selectedFor">
                <option v-for="option in options" v-bind:value="option.value">{{option.text}}</option>
            </select>
            {{selectedFor}}
        </dd>
        <dd>
            lazy，改到在 change 事件中同步
            <input type="text" v-model="msg" lazy />{{msg}}
            将用户的输入保持为数字，可以添加一个特性 number
            <input type="text" v-model="number" number />{{number}}
            debounce 设置一个最小的延时，在每次敲击之后延时同步输入框的值与数据,不会延迟 input 事件
            <input type="text" v-model="a" debounce="5000" />{{a}}
        </dd>
        <dd>对于单选按钮，勾选框及选择框选项，v-model 绑定的值通常是静态字符串（对于勾选框是逻辑值）</dd>
    </dl>
    <dl>
        <dt>自定义指令</dt>
        <dd><div v-my-directive="someValue"></div></dd>
        <dd><div v-demo:hello.a.b="msg"></div></dd>
        <dd>
            <p>el: 指令绑定的元素。</p>
            <p>vm: 拥有该指令的上下文 ViewModel。</p>
            <p>expression: 指令的表达式，不包括参数和过滤器。</p>
            <p>arg: 指令的参数。</p>
            <p>name: 指令的名字，不包含前缀。</p>
            <p>modifiers: 一个对象，包含指令的修饰符。</p>
            <p>descriptor: 一个对象，包含指令的解析结果。</p>
        </dd>
        <dd>
            <div v-demo2="{color:'white',text:'hello!'}"></div>
        </dd>
        <dd>
            <my-directive2>1</my-directive2>
        </dd>
    </dl>
    <dl>
        <dt>自定义过滤器</dt>
        <dd>{{msg | split0}}</dd>
        <dd>{{msg | wrap 'before' 'after'}}</dd>
        <dd><input type="text" v-model="fontSize | currencyDisplay" />{{fontSize}}</dd>
        <dd><input type="text" v-bind:value="1" v-model="userInput" />{{fontSize | concat userInput}}</dd>
    </dl>
    <dl>
        <dt>方法与事件处理器</dt>
        <dd v-on:click="greet">greet</dd>
        <dd @click="greet">@click为缩写</dd>
        <dd v-on:click="say('hi')">say hi</dd>
        <dd v-on:click="say('what')">say what</dd>
        <dd><button v-on:click="say('hello!',$event)">submit</button></dd>
        <dd>
            <!-- 阻止单击事件冒泡 -->
            <a href="" v-on:click.stop="doThis">在事件处理器中经常需要调用 event.preventDefault() 或 event.stopPropagation()</a>
            <!-- 提交事件不再重载页面 -->
            <form v-on:submit.prevent="onSubmit">v-on 提供两个事件修饰符：.prevent 与 .stop</form>
            <!-- 修饰符可以串联 -->
            <a href="" v-on:click.stop.prevent="doThat">doThat</a>
            <!-- 只有修饰符 -->
            <form v-on:submit.prevent>.prevent</form>
            <!-- 添加事件侦听器时使用 capture 模式 -->
            <div v-on:click.capture="doThis">...</div>
            <!-- 只当事件在该元素本身（而不是子元素）触发时触发回调 -->
            <div v-on:click.self="doThat">...</div>
        </dd>
        <dd>
            检测 keyCode。为v-on添加按键修饰符
            <input v-on:keyup.13="onSubmit" type="text" />
            <!-- 同上 -->
            <input v-on:keyup.enter="onSubmit">
            <p>常用按键别名：enter、tab、delete、esc、space、up、down、left、right</p>
        </dd>
    </dl>
    <dl>
        <dt>过渡效果</dt>
        <dd>
            <div v-if="show" transition="expand">hello</div>
            <button v-on:click="show=!show">toggle</button>
        </dd>
        <dd>
            类名的添加和切换取决于 transition特性的值。比如 transition="fade"，会有三个 CSS 类名：
        　　1）.fade-transition 始终保留在元素上。
        　　2）.fade-enter 定义进入过渡的开始状态。只应用一帧然后立即删除。
        　　3）.fade-leave 定义离开过渡的结束状态。在离开过渡开始时生效，在它结束后删除。
        　　如果 transition 特性没有值，类名默认是 .v-transition, .v-enter 和 .v-leave。
        </dd>
        <dd>
            <input v-model="query" />
            <div v-for="item in items | filterBy query" transition="staggered" stagger="100">{{item.list}}</div>
        </dd>
        <dd>
            <div v-if="show" :transition="transitionName">class:fade-transition</div>
        </dd>
        <dd>
            <div v-show="ok" class="animated" transition="bounce">Watch me bounce</div>
            在过渡的 JavaScript 定义中声明自定义的 CSS 过渡类名。这些自定义类名会覆盖默认的类名。当需要和第三方的 CSS 动画库，比如 Animate.css 配合时会非常有用
        </dd>
    </dl>
    <dl>
        <dt>组件</dt>
        <dd>
            <my-component></my-component>
        </dd>
        <dd>
            <child msg="hello"></child>
        </dd>
        <dd>
            <child2 my-message="hello"></child2>
        </dd>
        <dd>
            <input type="text" v-model="parentMsg" />
            <child3 v-bind:my-message2="parentMsg"></child3>
        </dd>
        <dd>
            <!-- 默认为单向绑定 -->
            <child3 v-bind:my-message2="parentMsg"></child3>
            <!-- 双向绑定 -->
            <child3 v-bind:my-message2.sync="parentMsg"></child3>
            <!-- 单次绑定 -->
            <child3 v-bind:my-message2.once="parentMsg"></child3>
        </dd>
    </dl>
    <dl>
        <dt>综合</dt>
        <dd>
            <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo" />
            <ul>
                <li v-for="todo in todos">
                    {{todo.text}}
                    <button v-on:click="removeTodo($index)">x</button>
                </li>
            </ul>
        </dd>
        <dd>$watch</dd>
    </dl>
    <dl>
        <dt>路由</dt>
        <dd>
            <!-- 使用指令 v-link 进行导航。 -->
            <a v-link="{path:'/foo'}">go to foo</a>
            <a v-link="{path:'/bar'}">go to bar</a>
            <!-- 路由外链 -->
            <router-view></router-view>
        </dd>
    </dl>
</div>

</body>
</html>