@charset "UTF-8";
@import "comm/css3";
@import "comm/common";

.test{
  $w:300px;
  $h:300px;
  position: absolute;
  right:50%;
  top:30px;
  width: $w;
  height: $h;
  input[type='checkbox']{
    border:0;
    -webkit-appearance:none;
    outline:none;
    position: relative;
    width: $w;
    height: $h;
    background: #fff;
    @include border-radius(50%);
  }
  .txt{
    position: absolute;
    left:0;
    top:0;
    background: rgba(0,0,0,.5);
    height: $h;
  }

  .ani{
    position: absolute;
    left:5%;
    top:5%;
    width: 90%;
    height: 90%;
    @include border-radius(50%);
    background: #f0ad4e;
    @include opacity(50);
    @include animation(to 2s infinite);
  }

  @include keyframes(to){
    0%{
      @include scale(1);
    }
    50%{
      @include scale(1.8);
    }
    100%{
      @include scale(1);
    }
  }
}
